-# locals: (f:, lesson:)

.form-group
  = f.label :guide
  = f.file_field :guide, accept: 'application/pdf'

.flex.gap-2.w-full
  .form-group
    = f.label :term
    = f.number_field :term, required: true

  .form-group
    = f.label :unit
    = f.number_field :unit, required: true

  .form-group
    = f.label :lesson_topic
    = f.text_field :lesson_topic, required: true

- EnglishClass::LISTABLE_ATTRIBUTES.each do |attr|
  = render('lessons/shared/list_fields', f:, lesson:, attr:)
