!!! 5
%html{ lang: 'ja' }
%head
  %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
%body
  = '------------------------------'
  %h2 Details
  = '------------------------------'
  %p お名前: #{@inquiry.name}
  %p メールアドレス: #{@inquiry.email}
  = '------------------------------'
  %h2 お問い合わせ内容
  %p= '------------------------------'

  = @inquiry.message

  %p= '------------------------------'
