!!! 5
%html{ lang: 'ja' }
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
  %body
    = '------------------------------'
    %h2 お問い合わせ内容
    = '------------------------------'

    %p お名前: #{@inquiry.name}
    %p メールアドレス: #{@inquiry.email}

    - if @inquiry.org.present?
      %p 法人名: #{@inquiry.org}

    - if @inquiry.phone.present?
      %p 電話番号: #{@inquiry.phone}

    - if @inquiry.postal_code.present?
      %p 郵便番号: #{@inquiry.postal_code}

    - if @inquiry.address_pref.present? || @inquiry.address_city.present? || @inquiry.address_line.present?
      %p 住所:
      %p
        = @inquiry.address_pref.to_s
        = @inquiry.address_city.to_s
        = @inquiry.address_line.to_s

    - if @inquiry.gender.present?
      %p 性別: #{@inquiry.gender}

    - if @inquiry.age.present?
      %p 年齢: #{@inquiry.age}歳

    = '------------------------------'
    %h2 メッセージ
    %p= @inquiry.message if @inquiry.message.present?
    = '------------------------------'
