= form_with model: @tutorial, url: @tutorial.new_record? ? tutorials_path(type: 'FAQ') : tutorial_path(@tutorial, type: 'FAQ'), method: @tutorial.new_record? ? :post : :patch, html: { class: 'form' } do |f|
  = render 'shared/form_errors', resource: @tutorial

  .form-group
    = f.label :question
    = f.text_field :question, required: true

  .form-group
    = f.label :answer
    = f.text_area :answer, required: true

  .form-group
    = f.submit @tutorial.new_record? ? "Create #{params[:type]} Tutorial" : "Update #{params[:type]} Tutorial", class: 'btn btn-primary'
