-# locals: (categories:, tutorial:)

:ruby
  type = 'FAQ'
  url = tutorial.new_record? ? tutorials_path(type:) : tutorial_path(tutorial, type:)
  method = tutorial.new_record? ? :post : :patch

= form_with model: @tutorial, method:, url:,
            html: { class: 'form' } do |f|
  = render 'shared/form_errors', resource: @tutorial

  .form-group
    = f.label :question
    = f.text_field :question, required: true

  .form-group
    = f.label :answer
    = f.text_area :answer, required: true

  .form-group
    = f.label :tutorial_category_id, 'Category'
    = f.select :tutorial_category_id, options_for_select(@categories), {}

  .form-group
    = f.submit class: 'btn btn-main'
