-# locals: (categories:, tutorial:)

= form_with model: @tutorial,
            url: tutorials_path(type: 'PDF'),
            html: { class: 'form' } do |f|
  = render 'shared/form_errors', resource: @tutorial

  .form-group
    = f.label :title
    = f.text_field :title, required: true

  .form-group
    = f.label :file
    = f.file_field :file,
                   required: @tutorial.new_record?,
                   accept: PdfTutorial::VALID_FILETYPES
    %small Allowed filetypes: PDF, PPT, PPTX, XLS, XLSX, JPG, JPEG, PNG

  .form-group
    = f.label :tutorial_category_id, 'Category'
    = f.select :tutorial_category_id, options_for_select(@categories), {}

  .form-group
    = f.submit class: 'btn btn-main'
