-# locals: (categories:, tutorial:)

:ruby
  type = 'Video'
  url = tutorial.new_record? ? tutorials_path(type:) : tutorial_path(tutorial, type:)
  method = tutorial.new_record? ? :post : :patch
  valid_hosts = VideoTutorial::VALID_HOSTS.join(', or ')

= form_with model: @tutorial, url:, method:,
            html: { class: 'form' } do |f|
  = render 'shared/form_errors', resource: @tutorial

  .form-group
    = f.label :title
    = f.text_field :title, required: true

  .form-group
    = f.label :video_path
    = f.text_field :video_path, required: true
    %small Only links including #{valid_hosts} are accepted

  .form-group
    = f.label :tutorial_category_id, 'Category'
    = f.select :tutorial_category_id, options_for_select(@categories), {}

  .form-group
    = f.submit class: 'btn btn-main'
