= form_with model: @tutorial, url: tutorials_path(type: 'Video'), local: true do |form|
  = form.hidden_field :type, value: 'Video'
  .field
    = form.label :title
    = form.text_field :title, class: 'form-control'

  .field
    = form.label :video_path
    = form.text_field :video_path, class: 'form-control'

  .field
    = form.label :section
    = form.select :section, options_for_select(sections), {}, class: 'form-control'

  = form.submit 'Create Video Tutorial', class: 'btn btn-primary'
