= form_with model: @tutorial, url: @tutorial.new_record? ? tutorials_path(type: 'Video') : tutorial_path(@tutorial, type: 'Video'), method: @tutorial.new_record? ? :post : :patch, html: { class: 'form' } do |f|
  = render 'shared/form_errors', resource: @tutorial

  .form-group
    = f.label :title
    = f.text_field :title, required: true

  .form-group
    = f.label :video_path
    = f.text_field :video_path, required: true

  .form-group
    = f.label :category
    = f.select :category, options_for_select(@categories), {}

  .form-group
    = f.submit @tutorial.new_record? ? "Create #{params[:type]} Tutorial" : "Update #{params[:type]} Tutorial", class: 'btn btn-primary'
