-# locals: (category:)

= form_with model: category,
            html: { class: 'form', id: 'tutorial_category_form' } do |f|
  = render 'shared/form_errors', resource: category

  .form-group
    = f.label :title
    = f.text_field :title,
                   required: true

  = f.submit class: 'btn btn-main'
