-# locals: (category:)

= form_with model: category,
            html: { class: 'form', id: 'tutorial_category_form' } do |f|
  = render 'shared/form_errors', resource: category

  .form-group
    = f.label :title
    = f.text_field :title,
                   required: true

  .flex.items-center.gap-3
    %div{ class: 'w-1/3' }
      = sanitized_svg(category.svg) if category.svg.attached?

    .form-group
      = f.label :svg, 'SVG'
      = f.file_field :svg,
                     accept: TutorialCategory::VALID_FILETYPES

  = f.submit class: 'btn btn-main'
