-# locals: (category:)

= form_with model: category,
            html: { class: 'form', id: 'tutorial_category_form' } do |f|
  = render 'shared/form_errors', resource: category

  .form-group
    = f.label :title
    = f.text_field :title,
                   required: true

  .form-group
    = f.label :cover_image, 'Cover Image'
    %small best with 64x64px pngs but any image works, just check it after creation.
    = f.file_field :cover_image, accept: 'image/png'

  = f.submit class: 'btn btn-main'
