= turbo_frame_tag 'tutorials' do
  .content
    %section.h-12.flex.items-center.gap-3
      .h-full.aspect-square
        = sanitized_svg(@tutorial_category.svg)
      %h1.text-3xl= @tutorial_category.title

    - TutorialCategory::TUTORIAL_TYPES.each do |type|
      = render "tutorials/#{type.to_s.underscore}",
               tutorials: @tutorials[type]
