-# locals: (user:)

= form_with model: [user.organisation, user],
            html: { class: 'form' } do |f|
  = render 'shared/form_errors', resource: @user

  = render 'users/fields', f:

  .flex.gap-3
    = f.submit class: 'btn btn-main'
    - unless user.new_record?
      = link_to 'Delete',
                organisation_admin_path(user.organisation, user),
                data: { turbo_method: :delete,
                        turbo_confirm: 'YOU ARE DELETING AN ADMIN' },
                class: 'btn btn-danger'

  .text-center
    %h1.text-2xl Admin accounts have access to A LOT of sensitive information
    %h2.text-xl Do not give them out like candy
