= main_nav_link 'courses', courses_path
= main_nav_link 'lessons', lessons_path
= main_nav_link 'organisations', organisations_path
= main_nav_link 'students', students_path
= main_nav_link 'support', support_requests_path
= main_nav_link 'uploads',
                new_organisation_student_upload_path(organisation_id: current_user.organisation_id)
= main_nav_link 'test', tests_path
= main_nav_link 'users', users_path
= main_nav_link 'tutorials', tutorials_path
