= main_nav_link 'Courses', courses_path
= main_nav_link 'Lessons', lessons_path
= main_nav_link 'Organisations', organisations_path
= main_nav_link 'Students', students_path
= main_nav_link 'Support', support_requests_path
= main_nav_link 'Tests', tests_path
= main_nav_link 'Users', users_path
= render 'admins/theme_select'
