= main_nav_link 'courses', courses_path
= main_nav_link 'lessons', lessons_path
= main_nav_link 'students', students_path
= main_nav_link 'support', support_requests_path
= main_nav_link 'test', tests_path
= render 'shared/upload_selector'
= main_nav_link 'users', users_path
= main_nav_link 'tutorials', tutorials_path
= main_nav_link 'events', teacher_events_path
