= main_nav_link 'Classes', school_classes_path
= main_nav_link 'Courses', courses_path
= main_nav_link 'Lessons', lessons_path
= main_nav_link 'Organisations', organisations_path
= main_nav_link 'Plans', plans_path
= main_nav_link 'Schools',
                organisation_schools_path(current_user.organisation_id)
= main_nav_link 'Students', students_path
= main_nav_link 'Support', support_requests_path
= main_nav_link 'Tests', tests_path
= main_nav_link 'Users', users_path