= render 'shared/subtitle', text: "Change another user's password"

%main
  = form_with url: admin_change_password_path do |f|
    .form-group
      = f.label :email
      = f.email_field :email

    .form-group
      = f.label :new_password
      = f.password_field :new_password, minlength: 10, required: true, title: "Password must be 10 characters long"

    .form-group
      = f.label :confirm_new_password
      = f.password_field :confirm_new_password, minlength: 10, required: true, title: "Password must be 10 characters long"

    = f.submit 'Change Password', class: 'btn btn-main'
