= render 'shared/subtitle', text: "Yo, #{@user.name}"

%main.flex.flex-col.gap-3.p-3
  .flex.flex-wrap.justify-center.gap-3
    = render 'admins/admin_tasks'
    = render 'writers/curriculum_tasks'

  = render 'users/teacher_spy', org_teachers: @org_teachers

  = render 'users/user_lessons',
           assigned: @assigned_lessons,
           created: @created_lessons
