-# locals: (user:, orgs:)

= form_with model: user, url: (user.new_record? ? organisation_org_admins_path(params[:organisation_id] || user.organisation_id) : organisation_org_admin_path(user.organisation_id, user)), html: { class: 'form', id: 'org_admin_form' } do |f|

  = render 'shared/form_errors', resource: @user

  = render 'users/fields', f:, orgs:

  %p this is an org admin form

  .flex.gap-3
    = f.submit class: 'btn btn-main',
               id: 'submit_org_admin'
    - if policy(user).destroy? && !user.new_record?
      = link_to 'Delete',
                organisation_org_admin_path(user.organisation_id, user),
                data: { turbo_method: :delete,
                        turbo_confirm: 'Are you sure you want to delete this org admin?' },
                class: 'btn btn-danger'
