= main_nav_link t('.classes'), school_classes_path
= main_nav_link t('.courses'), courses_path
= main_nav_link t('.lessons'), lessons_path
= main_nav_link t('.schools'),
                organisation_schools_path(current_user.organisation_id)
= main_nav_link t('.request_support'), support_requests_path
= main_nav_link t('.users'),
                organisation_users_path(current_user.organisation_id)
