= main_nav_link 'support', support_requests_path
= main_nav_link 'schools',
                organisation_schools_path(current_user.organisation_id)
= main_nav_link 'students', students_path
= main_nav_link 'tests', tests_path
= main_nav_link 'users,
                organisation_users_path(current_user.organisation_id)