= link_to t('.classes'), school_classes_path
= link_to t('.lessons'), lessons_path
= link_to t('.teachers'), users_path
= link_to t('.students'), students_path
= link_to t('.request_support'), new_support_request_path
