= main_nav_link t('.classes'), school_classes_path
= main_nav_link t('.teachers'), users_path
= main_nav_link t('.students'), students_path
= main_nav_link t('.request_support'), support_requests_path
= main_nav_link t('.tests'), tests_path
