= render 'shared/subtitle', text: "Welcome, #{@user.name}"

%main.flex.flex-col.gap-3.p-3
  - if @announcements.any?
    = render 'shared/announcement_list', announcements: @announcements
  %h3= @user.email
  %h3 You're a school manager
  = render 'organisations/new_parent_link', org_id: @user.organisation_id

  %h3= t('.managed_schools')
  - @user.schools.each do |school|
    %h3= school.name

  = link_to 'Edit',
            edit_organisation_school_manager_path(@user.organisation_id, @user),
            class: 'btn btn-secondary'
