-# locals: (f:, lesson:)

.form-group
  = f.label :subtype
  = f.select :subtype,
             Exercise.subtypes.keys.map { |k| [k.titleize, k] },
             {}
.form-group
  = f.label :guide
  = f.file_field :guide, accept: 'application/pdf'

- Exercise::LISTABLE_ATTRIBUTES.each do |attr|
  = render('lessons/shared/list_fields', attr:, f:, lesson:)
