-# locals: (resources:)

.flex.flex-wrap.justify-start.items-center.gap-3
  - resources.each do |resource|
    - filename = resource.blob.filename

    .flex.flex-col.gap-1.p-1.border-2.border-secondary-50.rounded
      %h4 For Week #{resource.week}
      = link_to file_path(resource.blob),
                target: '_blank',
                rel: 'noopener',
                class: 'btn btn-primary resource flex justify-around' do
        %p= filename
        = render 'shared/svgs/download_icon',
                 classes: 'fill-white'
      - if current_user.is?('Admin')
        = link_to phonics_resource_path(resource),
                  data: { turbo_method: 'delete',
                          turbo_confirm: "Remove #{filename} from this lessson?" },
                  class: 'btn btn-danger flex justify-around' do
          %p= filename
          = render 'shared/svgs/delete_icon',
                   classes: 'fill-white'
