-# locals: (classes:, potential_classes:, student:, teachers:)

%div{ class: 'flex justify-between border-4 border-ku-purple/50 rounded-xl p-3' }
  %ul.font-bold
    %li
      %span{ class: 'text-ku-purple/50' }= t('.student_id')
      %span.text-ku-purple= @student.student_id || 'なし'
    %li
      %span{ class: 'text-ku-purple/50' }= t('.name')
      %span.text-ku-purple= redact(@student.name)
    %li
      %span{ class: 'text-ku-purple/50' }= t('.level')
      %span.text-ku-purple= @student.level.titleize
    %li
      %span{ class: 'text-ku-purple/50' }= t('.school')
      %span.text-ku-purple= @student.school.name
    %li
      %span{ class: 'text-ku-purple/50' }= t('.teachers')
      %span.text-ku-purple= @teachers.map(&:name).to_sentence
    %li
      %span{ class: 'text-ku-purple/50' }= t('.classes')
      %span.text-ku-purple= @classes.map(&:name).to_sentence
  .flex.flex-col
    = link_to t('edit'),
              edit_student_path(@student),
              class: 'btn btn-info'
    - unless @potential_classes.empty?
      = form_with model: @student, html: { class: 'form' } do |f|
        = f.fields_for :student_classes, @student.student_classes.new do |sc_f|
          .flex.items-center.gap-2
            = sc_f.label :class_id
            = sc_f.select :class_id, @potential_classes
            = f.submit t('.add_to_class'), class: 'btn btn-primary'
