-# locals: (classes:, potential_classes:, student:, teachers:)

%div.flex.justify-between.rounded.p-6{id: 'student_details'}
  %ul.font-bold.flex.flex-col.justify-between.gap-4
    %li.flex.items-center
      %span.text-secondary-50.w-32= t('.student_id')
      %span.text-secondary.flex-1= @student.student_id || 'なし'

    %li.flex.items-center
      %span.text-secondary-50.w-32= t('.name')
      %span.text-secondary.flex-1= redact(@student, @student.name)

    %li.flex.items-center
      %span.text-secondary-50.w-32= t('.birthday')
      %span.text-secondary.flex-1= @student.birthday

    %li.flex.items-center
      %span.text-secondary-50.w-32= t('.level')
      %span.text-secondary.flex-1= @student.level.titleize

    - if current_user.is?('Admin', 'SchoolManager')
      = link_to t('.edit'),
                edit_student_path(@student),
                class: 'btn btn-secondary'
