-# locals: (schools: [], staff: false)

- field_classes = 'flex justify-start items-center gap-3'

= form_with url: student_searches_path,
            scope: :search,
            html: { class: 'flex flex-wrap justify-center items-center gap-3' } do |f|
  - unless staff
    %h3.w-full.text-center= t('.add_child')

  %div{ class: field_classes }
    = f.label :student_id, t('.student_id')
    = f.text_field :student_id

  %div{ class: field_classes }
    = f.label :level, t('.child_level')
    = f.select :level,
               Student.levels.keys.map { |k| [k.titleize, k] },
               { prompt: t('.select_child_level') }

  - if staff
    %div{ class: field_classes }
      = f.label :name, t('.child_name')
      = f.text_field :name

    %div{ class: field_classes }
      = f.label :school_id, t('.school')
      = f.select :school_id,
                 schools.map { |s| [s.name, s.id] },
                 include_blank: true

  = f.submit t('.search'), class: 'btn btn-primary'
