-# locals: (data:, results:)

%canvas{ data: { controller: 'chart',
                 'chart-data-value': @data.to_json,
                 'chart-options-value': { elements: { line: { borderWidth: 0, tension: 0.3 } },
                                          responsive: true,
                                          scales: { r: { min: 0, max: 100, ticks: { font: { size: 10},backdropColor: 'rgba(255,255,255,0)' },
                                          pointLabels: {
                                            font: {
                                              size: 16
                                            }
                                          } } } }.to_json,
                 'chart-type-value': 'radar' } }

- if params[:test_id]
  - active_result = results.find { |r| r.test_id == params[:test_id].to_i }

  %table.w-full
    %thead
      %tr.text-white.font-bold.whitespace-nowrap
        %th.thead.thead-s.bg-secondary-50= t('.test_name')
        %th.thead.bg-secondary-50= t('.total')
        %th.thead.thead-e.bg-secondary-50= t('.recommended_level')
    %tbody
      %tr.text-center.font-bold.text-secondary
        %td.p-2= active_result.test.name
        %td.p-2 #{active_result.total_score}/#{active_result.test.max_score}
        %td.p-2= active_result.new_level.titleize

  = link_to t('.view_all_results'),
            student_path(@student.id),
            class: 'btn btn-secondary'
