-# locals: (data:, results:)

%canvas{ data: { controller: 'chart',
                 'chart-data-value': @data.to_json,
                 'chart-options-value': { elements: { line: { borderWidth: 0, tension: 0.3 } },
                                          responsive: true,
                                          scales: { r: { min: 0, max: 100 } } }.to_json,
                 'chart-type-value': 'radar' } }

- if params[:test_id]
  - active_result = results.find { |r| r.test_id == params[:test_id].to_i }

  %table
    %thead
      %tr.text-white.font-bold
        %th.thead.thead-s.bg-secondary-50= t('.basics')
        - active_result.answers.each_key do |skill|
          %th.thead.bg-secondary-50
            = t(".#{skill}")
        %th.thead.thead-e.bg-secondary-50= t('.total')
    %tbody
      %tr.text-center.font-bold.text-secondary
        %td.p-2 #{active_result.basics}/#{active_result.test.basics}
        - active_result.answers.each do |skill, scores|
          %td.p-2 #{scores.sum}/#{active_result.test.send(skill.to_sym).sum}
        %td.p-2 #{active_result.total_score}/#{active_result.test.max_score}

  = link_to t('.view_all_results'),
            student_path(@student.id),
            class: 'btn btn-secondary'
