-# locals: (results:)

- active_result = results.find { |r| r.test_id == params[:test_id].to_i }

%table
  %thead
    %tr.text-white.font-bold.whitespace-nowrap
      %th.thead.thead-s.bg-secondary-50= t('.test_name')
      %th.thead.bg-secondary-50= t('.grade')
      %th.thead.bg-secondary-50= t('.score')
      %th.thead.thead-e.bg-secondary-50= t('.recommendation')
  %tbody.text-center
    - results.each do |result|
      %tr{ class: result == results.last ? '' : 'border-b-2 border-secondary-50' }
        %td.p-2
          = link_to result.created_at.strftime('%B %Y'),
                    student_path(@student.id, test_id: result.test_id),
                    class: "font-bold underline #{'text-main' if result == active_result}"
        %td.p-2= result.grade
        %td.p-2 #{result.total_score}/#{result.test.max_score}
        %td.p-2= result.new_level.titleize
