.print-container
  %main

    .flex.header.border-b-4.border-secondary
      - current_level = @levels.select { |lvl| lvl[:order] <= @student.mapped_level_order }.max_by { |lvl| lvl[:order] }
      - current_level ||= levels.first
      .flex.flex-col.items-center.p-2
        - base_name = current_level[:name].split('_').first
        = inline_svg_tag("levels/#{base_name}_no_text.svg", width: 110, height: 110, title: t("levels.#{current_level[:name]}"))
        .-mt-2.text= t(".#{@student.level.titleize}")
      .flex.flex-col.items-left.gap-1.p-8
        .text-4xl.mb-2
          = @student.en_name
        .text-sm
          = "Kids Up #{@student.school.name}"
      .flex.flex-col.items-left.gap-1.p-8.ml-auto.text-right
        .text-sm
          = @recent_result&.created_at&.strftime('%b %Y')
        .text-sm
          = 'Score'
        .text-4xl.mt-2
          = @recent_result&.total_score_total

    .flex.flex-col.w-full.p-12.gap-6.max-w-xl.mx-auto
      .h3.text-center.font-bold.pb-9.text-lg Skill Breakdown

      %div{ class: 'skill-breakdown w-full max-w-lg mx-auto' }
        %table.table-auto.w-full
          %tbody
            %tr.no-bg.border-b.border-secondary
              %td.flex.items-center.p-2
                = inline_svg_tag('basics_icon.svg', class: 'w-10 h-10 mr-2', title: 'Name & Date')
                Name & Date
              %td.text-center.p-2
                = "#{@recent_result&.basics} / 2"
              %td.text-right.p-2
                = "#{@recent_result&.basics_percent}%"
            %tr.no-bg.border-b.border-secondary
              %td.flex.items-center.p-2
                = inline_svg_tag('listening_icon.svg', class: 'w-10 h-10 mr-2', title: 'Listening')
                Listening
              %td.text-center.p-2
                = "#{@recent_result&.listening&.sum} / #{@recent_result&.listening_total}"
              %td.text-right.p-2
                = "#{@recent_result&.listen_percent}%"

            %tr.no-bg.border-b.border-secondary
              %td.flex.items-center.p-2
                = inline_svg_tag('reading_icon.svg', class: 'w-10 h-10 mr-2', title: 'Reading')
                Reading
              %td.text-center.p-2
                = "#{@recent_result&.reading&.sum} / #{@recent_result&.reading_total}"
              %td.text-right.p-2
                = "#{@recent_result&.read_percent}%"

            %tr.no-bg
              %td.flex.items-center.p-2
                = inline_svg_tag('writing_icon.svg', class: 'w-10 h-10 mr-2', title: 'Writing')
                Writing
              %td.text-center.p-2
                = "#{@recent_result&.writing&.sum} / #{@recent_result&.writing_total}"
              %td.text-right.p-2
                = "#{@recent_result&.write_percent}%"
            %tr.no-bg.border-2.border-secondary.rounded-l-lg
              %td.flex.items-center.p-4
                %span.font-bold TOTAL SCORE
              %td.text-center.p-4.font-bold
                = @recent_result&.total_score_total
              %td.text-right.p-4.font-bold
                = "#{@recent_result&.test_print_percent}%"
      .chart-container.flex.flex-col.mt-5
        = render 'students/test_details',
                  data: @data,
                  results: @results
      - if defined?(@pearson_data) && @pearson_data[:results].present?
        .flex.flex-col.gap-4.mt-8
          .h3.text-center.font-bold.pb-2.text-lg Pearson Performance Snapshot
          = render 'students/pearson_test_details', data: @pearson_data[:data], results: @pearson_data[:results]
          = render 'students/pearson_report_info', pearson_data: @pearson_data
    %header.print-footer.flex.items-center
      = inline_svg_tag 'landing_logo.svg',
        class: 'w-40 h-20 shrink-0 custom-landing-logo'
      %hr.flex-1.border-2.border-secondary.mt-0
