= content_for :head do
  = stylesheet_link_tag 'print_report_card', media: 'print'

= render 'shared/subtitle', text: redact(@student, @student.name)

%main
  - if @student.parent_id.nil? && current_user.is?('Admin', 'SchoolManager', 'OrgAdmin')
    %section.w-full.flex.flex-col.gap-3.p-3.print:hidden
      %h3.w-full.text-center.font-bold.text-secondary.text-xl
        = t('.add_parent')
      = render 'user_searches/form', orgs: @orgs, student_id: @student.id
      = turbo_frame_tag 'user_table'

  %section.flex.flex-col.md:flex-row.p-3#student
    %div{ class: 'basis-2/5 flex flex-col justify-around gap-12' }
      = render 'students/details',
               student: @student,
               classes: @classes,
               potential_classes: @potential_classes,
               teachers: @teachers

      = render 'students/tests_table', results: @results

      = form_with model: @student, class: 'flex flex-col gap-3' do |f|
        = f.text_area :comments,
                      placeholder: t('.add_comments'),
                      class: 'w-full border-2 border-secondary-50 rounded focus:outline-none',
                      rows: 7
        = f.submit t('.add_comment'), class: 'btn btn-main w-full'

    %div{ class: 'basis-3/5 flex flex-col items-center gap-6 p-8',
          id: 'test_details' }
      = render 'students/test_details',
               data: @data,
               results: @results
