%main.flex.flex-col.gap-3.p-3
  %h1= current_user.ku? ? 'Redacted' : @student.name
  %h3.text-center= @student.level.titleize
  - if @student.student_id.present?
    %h3= t('.student_id', id: @student.student_id)
  %h3= t('.school', school: @student.school.name)
  %h3= t('.class_list')
  %ul
    - @classes.each do |c|
      %li
        = link_to c.name,
                  school_class_path(c)
  = link_to t('.edit'),
            edit_student_path(@student),
            class: 'btn btn-info'

  - unless @potential_classes.empty?
    = form_with model: @student, html: { class: 'form' } do |f|
      = f.fields_for :student_classes, @student.student_classes.new do |sc_f|
        .flex.items-center.gap-2
          = sc_f.label :class_id
          = sc_f.select :class_id, @potential_classes

          = f.submit t('.add_to_class'), class: 'btn btn-primary'
