= render 'shared/subtitle', text: redact(@student.name)

%main.flex.flex-col.md:flex-row.p-3
  %section{ class: 'basis-2/5 flex flex-col justify-around gap-12 p-8' }
    = render 'students/details',
             student: @student,
             classes: @classes,
             potential_classes: @potential_classes,
             teachers: @teachers

    = render 'students/tests_table', results: @results

    = form_for @student do |f|
      = f.text_area :comments,
                    placeholder: t('.add_comments'),
                    class: 'w-full border-4 border-ku-purple/50 rounded-xl',
                    rows: 7
      = f.submit t('.add_comment'), class: 'btn btn-primary w-full'

  %section{ class: 'basis-3/5 flex flex-col gap-6 p-8' }
    = render 'students/test_details', data: @data
