-# locals: (course_lessons:, date:)

:ruby
  # beginning_of_week is Monday for Rails
  iteration_day = date.beginning_of_week - 1
  today = Time.zone.today

- Date::DAYNAMES.each do |day|
  - current_class = today == iteration_day ? 'bg-secondary text-white rounded py-2 w-full' : ''
  - no_lessons = course_lessons.none? { |cl| cl.day == day.downcase } ? 'no-lessons' : ''

  %header{ class: 'flex flex-col items-center justify-center p-3 odd:bg-neutral-dark ' \
                  "even:bg-neutral-light rounded-t sticky -top-3 z-40 #{no_lessons}" }
    %div{ class: current_class }
      %h2.font-bold= day
      %p.text-sm
        - if I18n.locale == :en
          = iteration_day.strftime("%B #{iteration_day.day.ordinalize}")
        - else
          = ja_date_weekday(iteration_day)

  - iteration_day += 1
