= render 'shared/subtitle', text: t('.calendar_for', date: ja_date(@date))

%dialog.resources-dialog#lesson-resources
  .body
    %form.h-0
      %button{ formmethod: :dialog }
        = image_tag 'exit.svg', class: 'btn-close'
    = turbo_frame_tag 'lesson'

%main
  .grid.grid-cols-8.text-center
    #top-left

    - Date::DAYNAMES.each do |day|
      %h2= day

    - lesson_type_rows.each do |type, rows|
      %h2{ class: "col-start-1 vertical-text #{rows}" }
        = type.titleize

    - @course_lessons.each do |cl|
      %div{ class: "#{day_column(cl.day)} #{lesson_row(cl.lesson)}" }
        = render 'lesson_calendars/lesson_button',
                 date: @date, level: cl.lesson.calendar_level,
                 teacher_id: current_user.id, type: cl.lesson.type
