= render 'shared/subtitle', text: t('.calendar_for', date: ja_date(@date))

%dialog.resources-dialog#lesson-resources
  .body
    %form.h-0
      %button{ formmethod: :dialog }
        = image_tag 'exit.svg', class: 'btn-close'
    = turbo_frame_tag 'lesson'

%main.p-3
  .grid.grid-cols-8.text-center.gap-3
    #top-left
    = render 'lesson_calendars/day_header',
             course_lessons: @course_lessons, date: @date
    %hr.row-start-2.calendar-separator.-my-3

    - lesson_type_rows.each do |type, rows|
      %h2{ class: 'col-start-1 vertical-text font-bold text-xl border-l-2 border-secondary ' \
                  "flex items-end justify-center p-3 my-3 #{rows}" }
        = type.titleize

    %hr.row-start-6.calendar-separator
    %hr.row-start-11.calendar-separator
    %hr{ class: 'row-start-[16] calendar-separator' }
    %hr{ class: 'row-start-[20] calendar-separator' }

    - @course_lessons.each do |cl|
      %div{ class: "#{day_column(cl.day)} #{lesson_row(cl.lesson)}" }
        = render 'lesson_calendars/lesson_button',
                 date: @date, level: cl.lesson.calendar_level,
                 teacher_id: current_user.id, type: cl.lesson.type
