-# locals: (f:, lesson:)

= f.hidden_field :type, value: lesson.type

.flex.flex-col.gap-2
  = f.label :subtype
  = f.select :subtype,
             DailyActivity.subtypes.keys.map { |k| [k.titleize, k] },
             {}

= render('lessons/step_fields', f:, lesson:)
= render 'lessons/link_fields', f:, lesson:
