-# locals: (organisation:)

%tr
  %td.p-3.font-bold
    = link_to organisation.name, organisation_path(organisation)
  %td.p-3= organisation.email.presence || '-'
  %td.p-3= organisation.phone.presence || '-'
  %td.p-3= organisation.notes.present? ? truncate(organisation.notes, length: 80) : '-'
  %td.p-3.text-center
    = link_to t('.view_organisation'),
              organisation_path(organisation),
              class: 'btn btn-secondary'
