= render 'shared/subtitle', text: @organisation.name

%main.flex.flex-col.gap-3.p-3
  %h2.text-start= t('.plans')
  - @plans.each do |plan|
    = link_to plan.name,
              plan_path(plan)

  = link_to t('.create_plan'),
            new_plan_path(organisation_id: @organisation.id),
            class: 'btn btn-secondary'

  = link_to t('.add_school'),
            new_organisation_school_path(@organisation),
            class: 'btn btn-secondary'

  - if @admins.any?
    %h2.text-start Admins: #{@admins.to_sentence}
  = render 'organisations/new_parent_link', org_id: @organisation.id

  - if @schools.any?
    %h2.text-start Total Students: #{@organisation.students_count}
    %h2= link_to t('.schools'), organisation_schools_path(@organisation)
    = render 'schools/table', schools: @schools
