-# locals: (result:, student:, test:)

- possible_levels = TestResult.new_levels.keys.reject { |l| l == 'all_levels' }

= form_for [test, result] do |f|
  %tr{ data: { controller: 'test-result',
               'test-result-thresholds-value': test.thresholds.to_json,
               'test-result-questions-value': test.questions.to_json },
       id: "student#{student.id}_result" }
    %td{ class: 'p-1 bg-main-50' }
      = link_to student.student_id || 'なし',
                student_path(student)
    %td{ class: 'p-1 bg-main-50' }
      = link_to redact(student, student.name),
                student_path(student)
    %td{ class: 'p-1 bg-main-50' }
      = link_to redact(student, student.en_name),
                student_path(student)
    %td{ class: 'p-1 bg-main-50' }= student.level.titleize

    - Test::SKILLS.each do |skill|
      = render 'test_results/skill_fields',
               f:,
               skill:,
               test:
    %td{ class: 'p-1 bg-main-50' }
      .flex.justify-center.items-center.gap-1
        = f.hidden_field :total_percent,
                         data: { 'test-result-target': 'totalPercent' }
        %p{ data: { 'test-result-target': 'totalPercent' } }
          #{result.total_percent || 0}%

    %td.p-1
      - prev_level = result.prev_level || student.level
      = prev_level.titleize
      = f.hidden_field :prev_level,
                       value: prev_level,
                       data: { 'test-result-target': 'prevLevel' }

    %td.p-1
      .flex.flex-col.gap-3
        = f.select :new_level,
                   possible_levels.map { |k| [k.titleize, k] },
                   { selected: result.new_level || test.level },
                   { class: (f.object.persisted? ? 'border-neutral-dark' : ''),
                     data: { action: 'test-result#checkRecommendedLevel',
                             'test-result-target': 'newLevel' } }
        = f.text_area :reason,
                      class: 'hidden',
                      data: { 'test-result-target': 'reason' },
                      placeholder: '理由を記入して下さい'

    %td.p-1
      = f.hidden_field :student_id
      = f.hidden_field :test_id
      = f.submit class: 'btn btn-primary'
