-# locals: (result:, student:, test:)

= form_for [test, result] do |f|
  %tr{ data: { controller: 'test-result',
               'test-result-thresholds-value': test.thresholds.to_json,
               'test-result-questions-value': test.questions.to_json },
       id: "student#{student.id}_result" }
    %td{ class: 'p-1 bg-ku-orange/50' }
      = link_to student.student_id || 'なし',
                student_path(student)
    %td{ class: 'p-1 bg-ku-orange/50' }
      = link_to redact(student.name),
                student_path(student)
    %td{ class: 'p-1 bg-ku-orange/50' }= student.level.titleize

    - Test::SKILLS.each do |skill|
      = render 'test_results/skill_fields',
               f:,
               skill:,
               test:
    %td{ class: 'p-1 bg-ku-orange/50' }
      .flex.justify-center.items-center.gap-1
        = f.hidden_field :total_percent,
                         data: { 'test-result-target': 'totalPercent' }
        %p{ data: { 'test-result-target': 'totalPercent' } }
          #{result.total_percent || 0}%

    %td.p-1
      - prev_level = result.prev_level || student.level
      = prev_level.titleize
      = f.hidden_field :prev_level,
                       value: prev_level,
                       data: { 'test-result-target': 'prevLevel' }

    %td.p-1
      = f.select :new_level,
                 TestResult.new_levels.keys.map { |k| [k.titleize, k] },
                 { include_blank: true, selected: result.new_level },
                 { class: (f.object.persisted? ? 'border-ku-gray-500' : ''),
                   data: { 'test-result-target': 'newLevel' } }

    %td.p-1
      = f.hidden_field :student_id
      = f.hidden_field :test_id
      = f.submit class: 'btn btn-primary'
