%nav.flex.justify-end.gap-3.p-3
  = link_to t('.student_details'),
            '#student-details',
            class: 'sub_nav_link',
            data: { controller: 'scroll-to' }
  - Test::SKILLS.each do |skill|
    - next if @test.send(skill.to_sym).blank?

    = link_to t(".#{skill}"),
              "##{skill}",
              data: { controller: 'scroll-to' },
              class: 'sub_nav_link'
  = link_to t('.results'),
            '#results',
            class: 'sub_nav_link',
            data: { controller: 'scroll-to' }
