-# locals: (form:, result:, skill:, test:)

:ruby
  skill_symbol = skill.to_sym
  return if test.send(skill_symbol).blank?

- test.send(skill_symbol).each_with_index do |max_score, i|
  %td.p-2{ data: { controller: 'validity' } }
    .flex.justify-center.items-center.gap-1
      = select_tag "test_result[answers][#{skill}][]",
                   options_for_select(0..max_score, result.send(skill_symbol)[i] || 0),
                   class: 'testresult-input', id: "#{form}-#{skill}-#{i}", form:,
                   data: { action: 'test-result#calculate validity#validate',
                           'test-result-target': skill,
                           'validity-target': 'input' }

%td.p-2
  .flex.justify-center.items-center.gap-1
    :ruby
      attr = attr_from_skill(skill)
      value = result.send(attr.to_sym) || 0

    = hidden_field_tag "test_result[#{attr}]",
                       value,
                       form:,
                       data: { 'test-result-target': target_from_skill(skill) }
    %p{ class: 'bg-secondary-50 rounded text-white font-bold p-2',
        data: { 'test-result-target': target_from_skill(skill) } }
      #{value}%
