= render 'shared/subtitle',
         text: t('.results_for', name: @test.name.titleize)

%main.relative.flex.flex-col.gap-3.p-3
  - if @orgs
    = render 'test_results/org_nav',
             active: @org, orgs: @orgs, school: @school
  - if @schools
    = render 'test_results/school_nav',
             active: @school, org: @org, schools: @schools
  = render 'test_results/skill_nav', test: @test

  %table.border-separate.border-spacing-0
    %thead
      %tr
        %th.thead.thead-s.thead-t.sticky.top-14{ id: 'student-details' }
          = t('.name')
        %th.thead.bg-secondary.sticky.top-14= t('.level')
        %th.thead.bg-secondary.sticky.top-14= t('.basics')
        - Test::SKILLS.each do |skill|
          - next if @test.send(skill.to_sym).blank?

          %th{ class: 'thead bg-secondary sticky top-14',
               colspan: @test.send(skill.to_sym).count + 1,
               id: skill }
            = t(".#{skill}")
        %th.thead.bg-secondary.sticky.top-14{ id: 'results' }= t('.total')
        %th.thead.bg-secondary.sticky.top-14= t('.former_lvl')
        %th.thead.thead-e.thead-t.sticky.top-14= t('.rec_lvl')
        %th{ rowspan: 2 }
      %tr.thead-b
        %td.thead.thead-s.thead-b.sticky.top-24
        %td.thead.thead-b.sticky.top-24

        %th.thead.thead-b.sticky.top-24
          = "/#{@test.basics}"
        - Test::SKILLS.each do |skill|
          - next if @test.send(skill.to_sym).blank?

          - @test.send(skill.to_sym).each do |max_score|
            %th{ class: 'thead thead-b sticky top-24' }
              = "/#{max_score}"
          %th{ class: 'thead thead-b sticky top-24' }
            = t('.total')

        %td.thead.thead-b.sticky.top-24
        %td.thead.thead-b.sticky.top-24
        %td.thead.thead-b.thead-e.sticky.top-24

    %tbody
      - @students.sort_by(&:en_name).each do |student|
        :ruby
          result = student.test_results.find { |r| r.test_id == @test.id } ||
                   @test.test_results.new(student_id: student.id)
        = render 'test_results/form',
                 result:,
                 student:,
                 test: @test
