= render 'shared/subtitle',
         text: t('.results_for', name: @test.name.titleize)

%main.flex.flex-col.gap-3.p-3
  - if @orgs
    = render 'test_results/org_nav',
             active: @org, orgs: @orgs, school: @school
  - if @schools
    = render 'test_results/school_nav',
             active: @school, org: @org, schools: @schools
  = render 'test_results/skill_nav', test: @test

  %div{ class: 'w-full h-[calc(100vh-4rem)] overflow-x-auto text-center' }
    %table.sticky.top-14
      %thead
        %tr
          %th.thead.thead-s.thead-t{ id: 'student-details' }
            = t('.name')
          %th.thead.bg-secondary= t('.level')
          %th.thead.bg-secondary= t('.basics')
          - Test::SKILLS.each do |skill|
            - next if @test.send(skill.to_sym).blank?

            %th{ class: 'thead bg-secondary',
                 colspan: @test.send(skill.to_sym).count + 1,
                 id: skill }
              = t(".#{skill}")
          %th.thead.bg-secondary{ id: 'results' }= t('.total')
          %th.thead.bg-secondary= t('.former_lvl')
          %th.thead.thead-e.thead-t= t('.rec_lvl')
          %th{ rowspan: 2 }
        %tr
          %td.thead.thead-b.thead-s
          %td.thead.thead-b

          %th.thead.thead-b
            = "/#{@test.basics}"
          - Test::SKILLS.each do |skill|
            - next if @test.send(skill.to_sym).blank?

            - @test.send(skill.to_sym).each do |max_score|
              %th{ class: 'thead text-secondary border-r-0 border-secondary border-b-2' }
                = "/#{max_score}"
            %th{ class: 'thead text-secondary border-secondary border-b-2' }
              = t('.total')

          %td.thead.thead-b
          %td.thead.thead-b
          %td.thead.thead-b.thead-e

      %tbody
        - @students.sort_by(&:en_name).each do |student|
          :ruby
            result = student.test_results.find { |r| r.test_id == @test.id } ||
                     @test.test_results.new(student_id: student.id)
          = render 'test_results/form',
                   result:,
                   student:,
                   test: @test
