= render 'shared/subtitle',
         text: t('.results_for', name: @test.name.titleize)

.w-full.overflow-x-auto.p-1.text-center
  %table
    %thead
      %tr
        %th{ class: 'p-1 bg-ku-orange/50', rowspan: 2 }= t('.student_id')
        %th{ class: 'p-1 bg-ku-orange/50', rowspan: 2 }= t('.name')
        %th{ class: 'p-1 bg-ku-orange/50', rowspan: 2 }= t('.level')
        - Test::SKILLS.each do |skill|
          - next if @test.send(skill.to_sym).empty?

          %th{ class: 'p-1 bg-ku-orange/50',
               colspan: @test.send(skill.to_sym).count + 1 }
            = skill.titleize
        %th{ class: 'p-1 bg-ku-orange/50', rowspan: 2 }= t('.total')
        %th{ class: 'p-1 bg-ku-orange/50', rowspan: 2 } Prev level
        %th{ class: 'p-1 bg-ku-orange/50', rowspan: 2 } New level
      %tr
        - Test::SKILLS.each do |skill|
          - next if @test.send(skill.to_sym).empty?

          - @test.send(skill.to_sym).each do |max_score|
            %th{ class: 'p-1 bg-ku-purple/50' } /#{max_score}
          %th{ class: 'w-12 p-1 bg-ku-purple/50' }= t(".#{fieldname_from_skill(skill)}")

    %tbody
      - @students.each do |student|
        :ruby
          result = student.test_results.find { |r| r.test_id == @test.id } ||
                   @test.test_results.new(student_id: student.id)
        = render 'test_results/form',
                 result:,
                 student:,
                 test: @test
