= render 'shared/subtitle',
         text: t('.results_for', name: @test.name.titleize)

%main
  - if @orgs
    = render 'test_results/org_nav',
             active: @org, orgs: @orgs, school: @school
  - if @schools
    = render 'test_results/school_nav',
             active: @school, org: @org, schools: @schools
  = render 'test_results/skill_nav', test: @test

  %div{ class: 'w-full h-[calc(100vh-4rem)] overflow-x-auto text-center' }
    %table
      %thead.sticky.top-0.text-white
        %tr
          %th.p-1.bg-main.whitespace-nowrap{ id: 'student-details',
                                             rowspan: 2 }
            = t('.name')
          %th{ class: 'p-1 bg-main', rowspan: 2 }= t('.level')
          %th.p-1.bg-main= t('.basics')
          - Test::SKILLS.each do |skill|
            - next if @test.send(skill.to_sym).blank?

            %th{ class: 'p-1 bg-main',
                 colspan: @test.send(skill.to_sym).count + 1,
                 id: skill }
              = t(".#{skill}")
          %th{ class: 'p-1 bg-main whitespace-nowrap',
               id: 'results',
               rowspan: 2 }
            = t('.total')
          %th{ class: 'p-1 bg-main whitespace-nowrap', rowspan: 2 }
            = t('.former_lvl')
          %th{ class: 'p-1 bg-main', rowspan: 2 }
            = t('.rec_lvl')
          %th{ class: 'p-1 bg-main', rowspan: 2 }
        %tr
          %th.p-1.bg-secondary /#{@test.basics}
          - Test::SKILLS.each do |skill|
            - next if @test.send(skill.to_sym).blank?

            - @test.send(skill.to_sym).each do |max_score|
              %th{ class: 'p-1 bg-secondary' } /#{max_score}
            %th{ class: 'w-12 p-1 bg-secondary whitespace-nowrap' }
              = t(".#{attr_from_skill(skill)}")

      %tbody
        - @students.sort_by(&:en_name).each do |student|
          :ruby
            result = student.test_results.find { |r| r.test_id == @test.id } ||
                     @test.test_results.new(student_id: student.id)
          = render 'test_results/form',
                   result:,
                   student:,
                   test: @test
