%p#notice= notice

%p
  %b Total percent:
  = @test_result.total_percent
%p
  %b Write percent:
  = @test_result.write_percent
%p
  %b Read percent:
  = @test_result.read_percent
%p
  %b Listen percent:
  = @test_result.listen_percent
%p
  %b Speak percent:
  = @test_result.speak_percent
%p
  %b Prev level:
  = @test_result.prev_level
%p
  %b New level:
  = @test_result.new_level
%p
  %b Test:
  = @test_result.test
%p
  %b Student:
  = @test_result.student

= link_to 'Edit', edit_test_result_path(@test_result)
\|
= link_to 'Back', test_results_path
