- content_for :title, t('.title', default: 'Change your password')
= render 'devise/nav', show_sign_in: false

%main.flex.flex-col.gap-3.p-3
  .max-w-xl.w-full.mx-auto
    = form_for resource,
      as: resource_name,
      url: [resource_name, :password_expired],
      html: { method: :put, class: 'flex flex-col gap-3' } do |f|

      = render 'devise/shared/error_messages', resource: resource

      .flex.flex-col.gap-1
        = f.label :current_password, t('.current_password', default: 'Current password'), class: 'font-medium'
        = f.password_field :current_password, autocomplete: 'current-password', class: 'w-full', required: true, placeholder: '••••••••••'

      .flex.flex-col.gap-1
        = f.label :password, t('.new_password', default: 'New password'), class: 'font-medium'
        = f.password_field :password, autocomplete: 'new-password', class: 'w-full', required: true, placeholder: '••••••••••'

      .flex.flex-col.gap-1
        = f.label :password_confirmation, t('.new_password_confirmation', default: 'Confirm new password'), class: 'font-medium'
        = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'w-full', required: true, placeholder: '••••••••••'

      .flex.gap-2.mt-1
        = f.submit t('.change_my_password', default: 'Update password'), class: 'btn btn-danger'
