-# locals: (f:)

- temp_pass = SecureRandom.hex(10)

.form-group
  = f.label :name
  = f.text_field :name

.form-group
  = f.label :email
  = f.email_field :email

- if f.object.new_record?
  .form-group
    = f.label :password
    = f.text_field :password,
                   value: temp_pass

  = f.hidden_field :password_confirmation, value: temp_pass
  = f.hidden_field :organisation_id
