-# locals: (f:, orgs:)

- temp_pass = SecureRandom.hex(10)

= f.hidden_field :organisation_id

.form-group
  = f.label :name
  = f.text_field :name, required: true

.form-group
  = f.label :email
  = f.email_field :email, required: true

- if f.object.new_record?
  .form-group
    = f.label :password
    = f.text_field :password,
                   value: temp_pass,
                   required: true,
                   minlength: 10

  .form-group
    = f.label :password_confirmation
    = f.text_field :password_confirmation,
                   value: temp_pass,
                   required: true,
                   minlength: 10
- if current_user.is?('Admin', 'Sales')
  .form-group
    = f.label :organisation_id
    = f.select :organisation_id,
               options_from_collection_for_select(orgs, :id, :name, f.object.organisation_id),
               { prompt: 'Select organisation' },
               required: true
- else
  = f.hidden_field :organisation_id, value: f.object.organisation_id