-# locals: (child: nil, users:)

= turbo_frame_tag 'user_table' do
  %table.w-full.text-center
    %thead
      %tr.text-secondary
        %th.thead.thead-s.bg-secondary-50
          = t('.name')
        %th.thead.bg-secondary-50
          = t('.role')
        %th.thead.bg-secondary-50
          = t('.email')

        - if current_user.is?('Admin')
          %th.thead.bg-secondary-50
            = t('.org')
          %th.thead.bg-secondary-50
            = t('.last_signin')
          %th.thead.bg-secondary-50
            = t('.last_ip')
          %th.thead.bg-secondary-50
            = t('.signin_count')

        %th.thead.thead-e.bg-secondary-50
          - if child
            = t('.add_as_parent')
          - else
            = t('.created')
    %tbody
      - users.each do |user|
        :ruby
          type = user.type.singularize.titleize.downcase.tr(' ', '_')
        - path = :"edit_organisation_#{type}_path"

        %tr
          %td
            = link_to user.name,
                      send(path, user.organisation_id, user),
                      data: { 'turbo-frame' => '_top' }
          %td= split_on_capitals(user.type)
          %td= mail_to user.email

          - if current_user.is?('Admin')
            %td= user.organisation.name
            %td= ja_date(user.last_sign_in_at)
            %td= user.last_sign_in_ip
            %td= user.sign_in_count

          %td
            - if child
              = form_with model: child do |f|
                = f.hidden_field :parent_id, value: user.id
                = f.submit t('.add_as_parent'),
                           class: 'btn btn-primary',
                           data: { 'turbo-frame' => '_top' }
            - else
              = ja_date(user.created_at)
