-# locals: (child: nil, users:)

= turbo_frame_tag 'user_table' do
  %table.w-full.text-center
    %thead
      %tr.text-ku-purple
        %th{ class: 'p-2 bg-ku-orange/50 rounded-s-lg border-r border-r-white' }
          = t('.name')
        %th{ class: 'p-2 bg-ku-orange/50 border-r border-r-white' }
          = t('.role')
        %th{ class: 'p-2 bg-ku-orange/50 border-r border-r-white' }
          = t('.email')

        - if current_user.is?('Admin')
          %th{ class: 'p-2 bg-ku-orange/50 border-r border-r-white' }
            = t('.org')
          %th{ class: 'p-2 bg-ku-orange/50 border-r border-r-white' }
            = t('.last_signin')
          %th{ class: 'p-2 bg-ku-orange/50 border-r border-r-white' }
            = t('.last_ip')
          %th{ class: 'p-2 bg-ku-orange/50 border-r border-r-white' }
            = t('.signin_count')

        %th{ class: 'p-2 bg-ku-orange/50 rounded-e-lg' }
          - if child
            = t('.add_as_parent')
          - else
            = t('.created')
    %tbody
      - users.each do |user|
        %tr
          %td
            = link_to user.name,
                      organisation_user_path(user.organisation_id, user),
                      data: { 'turbo-frame' => '_top' }
          %td= split_on_capitals(user.type)
          %td= mail_to user.email

          - if current_user.is?('Admin')
            %td= user.organisation.name
            %td= ja_date(user.last_sign_in_at)
            %td= user.last_sign_in_ip
            %td= user.sign_in_count

          %td
            - if child
              = form_with model: child do |f|
                = f.hidden_field :parent_id, value: user.id
                = f.submit t('.add_as_parent'),
                           class: 'btn btn-primary',
                           data: { 'turbo-frame' => '_top' }
            - else
              = ja_date(user.created_at)
