-# locals: (org:)

%h2= t('.roles')
%nav.flex.flex-wrap.gap-2.p-3
  = link_to t('.all_types'),
            organisation_users_path(org),
            class: 'btn btn-info'

  - current_user.class::VISIBLE_TYPES.each do |type|
    - type_path = send("organisation_#{type.pluralize.underscore}_path", org.id)
    = link_to split_on_capitals(type),
              type_path,
              class: 'btn btn-info'

%h2= t('.create_new')
%nav.flex.flex-wrap.gap-2.p-3
  - current_user.class::VISIBLE_TYPES.each do |type|
    - next if !org.ku? && User::KU_TYPES.include?(type)

    - type_path = send("new_organisation_#{type.singularize.underscore}_path", org.id)
    = link_to split_on_capitals(type),
              type_path,
              class: 'btn btn-primary'
