-# locals: (lesson:)

.flex.flex-wrap.justify-start.items-center.gap-3
  - if lesson.activity_guide.attached?
    .flex.flex-col.gap-1.p-1.border-2.border-secondary-50.rounded
      %h3 Guide
      = link_to rails_blob_url(lesson.activity_guide),
                target: '_blank',
                rel: 'noopener',
                class: 'btn btn-main resource flex justify-around' do
        %p= lesson.activity_guide.filename.to_s
        = inline_svg_tag 'download_icon.svg', class: 'fill-white'
      - if current_user.is?('Admin')
        = link_to file_path(id: lesson.activity_guide.blob.id,
                            record_id: lesson.id,
                            record_type: 'Lesson'),
                  data: { turbo_method: 'delete',
                          turbo_confirm: "Remove #{lesson.activity_guide.filename} from this lessson?" },
                  class: 'btn btn-danger flex justify-around' do
          %p= lesson.activity_guide.filename
          = inline_svg_tag 'delete_icon.svg',
                            class: 'fill-white'
