%nav{ class: 'w-full bg-ku-orange h-16 text-white font-bold ' \
             'flex justify-around items-center',
      id: 'main_nav' }
  = link_to 'LOGO',
            root_path,
            class: 'p-3'
  %h3.text-base= ja_date(Time.zone.now)
  .flex-grow
  = render "#{current_user.type.pluralize.underscore}/nav"
  = link_to t('.sign_out'),
            destroy_user_session_path,
            data: { turbo_method: :delete },
            class: 'p-3'
