%nav.w-full.flex.justify-around
  = link_to 'Home',
            root_path
  = link_to 'Courses',
            courses_path
  = link_to 'Lessons',
            lessons_path
  = link_to 'Files',
            files_path
  = link_to 'Organisations',
            organisations_path
