%nav{ class: 'fixed top-0 left-0 h-screen bg-main print:hidden ' \
             'z-50 flex flex-col rounded-e transition',
      data: { controller: 'nav' },
      id: 'main-nav' }
  %button{ class: 'flex items-center justify-center px-3',
           type: 'button', 'data-action': 'nav#toggle' }
    %image.px-3.main-nav-link-text{ height: '64px', width: '120px',
                                    src: org_favicon(current_user.presence) }
    .grow.main-nav-link-text
    %div{ data: { 'nav-target': 'toggleIcon' } }
      = render 'shared/svgs/hamburger', classes: 'w-8 h-14'
  = link_to root_path,
            class: main_nav_class('home', '') do
    = render 'shared/svgs/home', classes: 'w-8'
    .main-nav-link-text= t('.home')

  %div{ class: 'flex flex-col', id: 'main_nav_links' }
    = render "#{current_user.type.pluralize.underscore}/nav"
  .flex-grow
  = render 'admins/theme_select' if current_user.is?('Admin')
  .md:hidden= locale_toggle
  = link_to destroy_user_session_path,
            data: { turbo_method: :delete },
            class: main_nav_class('sign_out', '') do
    = image_tag 'sign_out.svg', class: 'w-8'
    .main-nav-link-text= t('.sign_out')
