:ruby
  common = 'flex justify-center items-center bg-color-main p-2 transition gap-1 md:gap-3'
  desktop = 'md:flex-grow md:relative md:translate-x-0 md:h-full md:flex-row md:opacity-100'
  mobile = 'fixed inset-0 translate-x-full z-40 w-screen h-screen flex-col opacity-0'

%nav{ class: 'w-full bg-color-main h-16 text-white font-bold px-3 ' \
             'flex print:hidden md:justify-around md:items-center',
      data: { controller: 'nav-reveal' },
      id: 'main_nav' }
  = link_to root_path,
            class: 'flex-shrink-0 flex items-center p-2 justify-center' do
    %image{ height: '64px', width: '120px', src: org_favicon(current_user.presence) }
  - unless current_user.is?('Admin')
    %p.flex-shrink-0.flex.items-center.p-1.md:p-2
      = ja_date(Time.zone.now)
  %div{ class: "#{common} #{desktop} #{mobile}",
        data: { 'nav-reveal-target': 'links' },
        id: 'main_nav_links' }
    .md:hidden.flex-grow.w-full.flex.justify-end.items-start
      %button{ class: 'border border-white rounded-xl px-3 py-1',
               data: { action: 'nav-reveal#toggle' },
               type: 'button' }
        X
    = render "#{current_user.type.pluralize.underscore}/nav"
    = link_to t('.sign_out'),
              destroy_user_session_path,
              data: { turbo_method: :delete },
              class: 'p-2 transition hover:scale-105 md:hidden'
    .md:hidden.flex-grow
  .md:hidden.flex-grow
  = render 'admins/theme_select' if current_user.is?('Admin')
  = locale_toggle
  = link_to t('.sign_out'),
            destroy_user_session_path,
            data: { turbo_method: :delete },
            class: 'p-2 transition hover:scale-105 hidden md:block text-nowrap'
  %button{ class: 'md:hidden border border-white rounded-xl p-2 self-center mr-2 ' \
                  'w-8 h-8 flex flex-col items-center justify-center gap-1',
           data: { action: 'nav-reveal#toggle' }, type: 'button' }
    %hr{ class: 'border border-white w-full' }
    %hr{ class: 'border border-white w-full' }
    %hr{ class: 'border border-white w-full' }
