-# locals: (classes: '', text:)

%header#subtitle
  - unless viewing_self?
    = link_to :back, class: 'hidden md:flex absolute left-6', id: 'back' do
      = image_tag 'back.svg'
      %span= t('.back')
  %h1= text
  .absolute.right-3.md:right-16
    %button.relative
      = notification_count
      = image_tag 'notifications.svg', width: '48px', height: '48px'
  .hidden.md:block.absolute.right-3= locale_toggle(classes: 'fill-secondary')
