-# locals: (classes: '', text:)

= content_for :subtitle do
  %header#subtitle
    - unless viewing_self?
      = link_to :back, class: 'absolute left-6 flex' do
        = image_tag 'back.svg'
        %span= t('.back')
    %h1= text
    .absolute.right-3= locale_toggle('fill-secondary')
