:ruby
  container_actions = 'click@window->dropdown#hide ' \
                      'touchstart@window->dropdown#hide ' \
                      'keydown.up->dropdown#previousItem ' \
                      'keydown.down->dropdown#nextItem ' \
                      'keydown.esc->dropdown#hide'
  container_class = "#{main_nav_class('upload', controller_name)} relative"
  menu_styles = 'hidden absolute top-0 -right-24 z-10 flex flex-col bg-main ' \
                'gap-2 p-3 rounded-e text-white font-bold w-24'
  org_id = current_user.organisation_id

%div{ class: container_class,
      data: { action: container_actions, controller: 'dropdown' } }
  %button{ class: 'main-nav-link text-nowrap !px-0 ' \
                  "#{'!text-white' if container_class.include?('active')}",
           data: { action: 'dropdown#toggle:stop' },
           type: 'button' }
    = image_tag 'upload.svg', class: 'w-8', title: 'Upload'
    .main-nav-link-text= t('.uploads')
  %ul{ class: menu_styles,
       data: { 'dropdown-target': 'menu' } }
    %li
      = link_to t('.parents'),
                new_organisation_parent_upload_path(organisation_id: org_id),
                data: { 'dropdown-target': 'menuItem' }
    %li
      = link_to t('.students'),
                new_organisation_student_upload_path(organisation_id: org_id),
                data: { 'dropdown-target': 'menuItem' }
    %li
      = link_to t('.teachers'),
                new_organisation_teacher_upload_path(organisation_id: org_id),
                data: { 'dropdown-target': 'menuItem' }
    %li
      = link_to t('.ss_students'),
                new_organisation_ss_student_upload_path(organisation_id: org_id),
                data: { 'dropdown-target': 'menuItem' }
