:ruby
  container_actions = 'click@window->dropdown#hide touchstart@window->dropdown#hide ' \
                      'keydown.up->dropdown#previousItem keydown.down->dropdown#nextItem ' \
                      'keydown.esc->dropdown#hide'
  container_class = 'inline-block relative flex items-center p-3 ' \
                    "#{main_nav_class('upload', controller_name)} hover:scale-100"
  menu_styles = 'hidden absolute top-12 -left-1 z-10 flex flex-col bg-main ' \
                'gap-2 p-3 rounded-b text-white'
  org_id = current_user.organisation_id

%div{ class: container_class,
      data: { action: container_actions, controller: 'dropdown' } }
  %button{ class: 'flex items-center transition hover:scale-105',
           data: { action: 'dropdown#toggle:stop' },
           type: 'button' }
    = render 'shared/svgs/delete_icon',
             classes: 'fill-white'
    .link-text= t('.uploads')
  %ul{ class: menu_styles,
       data: { 'dropdown-target': 'menu' } }
    %li.transition.hover:scale-105
      = link_to t('.parents'),
                new_organisation_parent_upload_path(organisation_id: org_id),
                data: { 'dropdown-target': 'menuItem' }
    %li.transition.hover:scale-105
      = link_to t('.students'),
                new_organisation_student_upload_path(organisation_id: org_id),
                data: { 'dropdown-target': 'menuItem' }
    %li.transition.hover:scale-105
      = link_to t('.teachers'),
                new_organisation_teacher_upload_path(organisation_id: org_id),
                data: { 'dropdown-target': 'menuItem' }
