-# locals: (index: false, resource:)

:ruby
  shared_classes = 'rounded text-white font-semibold px-3 py-1 text-base'
  admin_approved = writer_approved = false
  unless resource.instance_of?(Course)
    admin_approved = current_user.is?('Admin') &&
                     resource.admin_approval.pluck('id').any?(current_user.id.to_s)
    writer_approved = current_user.is?('Writer') &&
                      resource.curriculum_approval.pluck('id').any?(current_user.id.to_s)
  end

- if admin_approved || writer_approved
  %p{ class: "#{shared_classes} bg-success" }
    Approved

- elsif current_user.is?('Writer') && !resource.instance_of?(Course)
  = form_with model: resource do |f|
    = f.hidden_field :curriculum_approval_id, value: current_user.id
    = f.hidden_field :curriculum_approval_name, value: current_user.name
    = f.submit index ? t('awaiting_approval') : t('not_approved'),
               class: "#{shared_classes} bg-danger cursor-pointer"

- elsif current_user.is?('Admin') && !resource.instance_of?(Course)
  = form_with model: resource do |f|
    = f.hidden_field :admin_approval_id, value: current_user.id
    = f.hidden_field :admin_approval_name, value: current_user.name
    = f.submit index ? t('awaiting_approval') : t('not_approved'),
               class: "#{shared_classes} bg-danger cursor-pointer"

- unless resource.instance_of?(Course)
  %p{ class: "#{shared_classes} #{status_color(resource)}" }
    = t(".#{resource.status}")

- if current_user.is?('Admin') && (resource.instance_of?(Course) || resource.approved?)
  - if resource.released?
    = form_with model: resource do |f|
      = f.hidden_field :released, value: false
      = f.submit index ? 'Released' : 'Released: ✓',
                 class: "#{shared_classes} bg-success cursor-pointer"

  - else
    = form_with model: resource do |f|
      = f.hidden_field :released, value: true
      = f.submit index ? 'Unreleased' : 'Not Released',
                 class: "#{shared_classes} bg-danger cursor-pointer"
