- admin = current_user.is?('Admin')

= render 'shared/subtitle', text: t('.tutorials')

%dialog.resources-dialog#tutorial-resources
  .body
    %form.h-0
      %button{ formmethod: :dialog }
        = image_tag 'exit.svg', class: 'btn-close'
    = turbo_frame_tag 'tutorials-frame'

%dialog.resources-dialog#video-tutorial
  .body
    %form.h-0
      %button{ formmethod: :dialog }
        = image_tag 'exit.svg', class: 'btn-close'
    = turbo_frame_tag 'video-tutorials'

%main.flex.flex-col.p-3.gap-3
  - if admin
    %details.dropdown.bg-secondary.text-white
      %summary.p-2.font-semibold Create a Tutorial
      %nav.dropdown-nav
        - TutorialCategory::TUTORIAL_TYPES.each do |type|
          = link_to "#{type} Tutorial",
                    new_tutorial_path(type:),
                    class: 'dropdown-item'

    = link_to new_tutorial_category_path,
              class: 'btn btn-secondary flex items-center w-full md:w-1/3' do
      %span Add New Category
      = inline_svg_tag 'next.svg', class: 'fill-white h-8 w-8'

  %section.grid.grid-cols-2.md:grid-cols-5.gap-3.py-6
    - @categories.each do |category|
      = render 'tutorial_categories/card', category:
