-# locals: (request:)

= render 'shared/subtitle', text: t('.request_support')

= form_with model: request,
            html: { class: 'flex flex-col md:grid grid-cols-5 grid-rows-4 gap-3 p-3 text-center md:text-left',
                    id: 'support_request_form' } do |f|
  = render 'shared/form_errors', resource: request

  .form-group.col-start-1.col-span-3
    = f.label :subject, t('.subject')
    = f.text_field :subject

  .form-group.col-start-1.col-span-3.row-span-2
    = f.label :description, t('.description')
    = f.text_area :description, rows: 5

  .form-group.col-start-4.col-span-2.row-start-1
    = f.label :priority, t('.priority')
    = f.select :priority,
               opts_from(SupportRequest, :priorities)

  .form-group.col-start-4.col-span-2.row-start-2
    = f.label :images
    = f.file_field :images,
                   accept: 'image/*',
                   multiple: true

  .form-group.col-start-4.col-span-2.row-start-3
    = f.label :category, t('.category')
    = f.select :category,
               opts_from(SupportRequest, :categories)

  = f.submit t('.submit_request'),
             class: 'btn btn-main row-start-4 col-start-1 col-span-2'
