-# locals: (request:)

= link_to support_request_path(request),
          class: 'flex flex-col' do
  .flex.gap-2.items-center
    - unless request.seen_by?(current_user.id)
      .rounded-full.p-2.bg-blue-800
    = render 'support_requests/status_badge', resolved: request.resolved?
    %h3.rounded.bg-color-secondary.px-2.py-1.text-white.text-base
      = request.category.titleize
    %h1= request.subject
  - unless current_user.id == request.user_id
    %small #{request.user.name}: #{request.user.email}
  %p= request.description
