-# locals: (request:)

= link_to support_request_path(request),
          class: 'flex flex-col rounded border-2 border-secondary-50 p-3' do
  = render 'support_requests/request_header', request:, index: true

  %small #{request.user.name}: #{request.user.email}

  %p= request.description
