-# locals: (index: false, request:)

.w-full.flex.flex-col.md:flex-row.gap-2.md:items-center.md:justify-center.text-left.md:text-center
  .w-full.md:w-fit.flex.items-center.justify-center.md:justify-between.gap-2
    %p{ class: "rounded-full p-2 #{prio_color[request.priority]}" }
    - if index
      %h3.btn.btn-outline.text-sm.p-1
        = request.category.titleize
    %h1.font-bold.truncate= request.subject
  .w-full.md:w-fit.flex.justify-center
    = render 'support_requests/resolved' if request.resolved?
  - if index
    .hidden.md:block.grow
    = render 'shared/svgs/next', classes: 'fill-secondary-50 w-8 h-8 hidden md:block'
