%main.flex.flex-col.gap-3
  - @support_requests.each do |request|
    = link_to support_request_path(request),
              class: 'flex flex-col border' do
      .flex.gap-2.items-center
        = render 'support_requests/status_badge', resolved: request.resolved?
        %h1= request.subject
        %h3= request.category
      %p= request.description
