%main
  .flex.gap-2
    %h1= @support_request.subject
    = render 'support_requests/status_badge',
             resolved: @support_request.resolved?
  %h3= @support_request.category
  %h3= @support_request.description

  = link_to t('.edit'),
            edit_support_request_path(@support_request),
            class: 'btn btn-info'

  %h2= t('.messages')

  .p-3
    - @messages.each do |message|
      = render 'support_messages/message', message:

  = form_with model: [@support_request, @support_request.messages.new],
              html: { class: 'form',
                      id: 'new_support_message' } do |f|
    = f.text_area :message, rows: 3
    = f.submit t('.send'), class: 'btn btn-primary'
