%main.flex.flex-col.gap-3.p-3
  .flex.flex-col.items-center.justify-center.gap-2.p-3.rounded.border
    .flex.gap-2
      %h1= @support_request.subject
      = render 'support_requests/status_badge',
               resolved: @support_request.resolved?
    %h3 #{t('.category')}: #{@support_request.category.titleize}
    %h3 #{t('.user')}: #{@support_request.user.name}
    %h3 #{t('.email')}: #{@support_request.user.email}
    %h3 #{t('.description')}
    %p #{@support_request.description}
    .flex.gap-2
      = link_to t('.edit'),
                edit_support_request_path(@support_request),
                class: 'btn btn-info'
      = form_with model: @support_request do |f|
        = f.hidden_field :resolved_by, value: current_user.id
        = f.hidden_field :resolved_at, value: Time.zone.now
        = f.submit t('.mark_resolved'), class: 'btn btn-primary'

  %h2= t('.messages')

  = render partial: 'support_messages/message',
           collection: @messages,
           as: :message,
           spacer_template: 'shared/spacer'

  = form_with model: [@support_request, @support_request.messages.new],
              html: { class: 'form p-0',
                      id: 'new_support_message' } do |f|
    = f.text_area :message, rows: 3
    = f.submit t('.send'), class: 'btn btn-primary'
