-# locals: (f:, table: false)

- if table
  %td.px-2= f.number_field :week, min: 1, max: 52, class: 'w-10'
  %td.px-2= f.select :day, CourseLesson.days.map { |k, _v| [k[0].capitalize, k] }

- else
  %div{ class: 'form-group basis-1/4' }
    = f.label :week
    = f.number_field :week, min: 1, max: 52

  %div{ class: 'form-group basis-1/4' }
    = f.label :day
    = f.select :day, CourseLesson.days.map { |k, _v| [k.capitalize, k] }
