-# locals: (collection:, f:, plan_data:, resource:)

%div{ class: 'fields-wrapper flex flex-wrap items-center justify-center gap-5',
      data: { controller: 'course-lessons',
              'course-lessons-plans-value': plan_data,
              'new-record': f.object.new_record?.to_s } }
  - if resource.instance_of?(Course)
    = f.hidden_field :course_id, value: resource.id

    %div{ class: 'form-group basis-1/4' }
      = f.label :lesson_id
      = f.select :lesson_id,
                 collection
  - else
    = f.hidden_field :lesson_id, value: resource.id

    %div{ class: 'form-group basis-1/4' }
      = f.label :course_id
      = f.collection_select :course_id,
                            collection,
                            :id, :title, {},
                            data: { 'course-lessons-target': 'course',
                                    action: 'course-lessons#calculateDate' }

  = render 'course_lessons/date_fields', f:

  %ul{ 'data-course-lessons-target': 'date' }

  - if f.object.new_record?
    %button{ class: 'btn btn-danger basis-1/4 self-center',
             'data-action' => 'fields#remove' }
      Remove
  - else
    .w-full.form-check.text-center
      = f.check_box :_destroy
      = f.label :_destroy,
                'Remove'
