-# (:course, f:, lessons:)

.fields-wrapper.flex.items-center.gap-2{ 'data-new-record' => f.object.new_record?.to_s }
  = f.hidden_field :course_id, value: course.id

  .form-group
    = f.label :lesson_id
    = f.select :lesson_id,
               lessons
  .form-group
    = f.label :week
    = f.number_field :week, min: 1, max: 52

  .form-group
    = f.label :day
    = f.select :day, CourseLesson.days.to_h { |k, _v| [k.capitalize, k] }

  - if f.object.new_record?
    %button.w-full.btn.btn-danger{ 'data-action' => 'fields#remove', type: 'button' }
      Remove
  - else
    .w-full.form-check.text-center
      = f.check_box :_destroy
      = f.label :_destroy, 'Remove from this course'
