= render 'shared/subtitle', text: "Privacy Policy (#{l(@policy.created_at.to_date, format: (I18n.locale == :ja ? :long_no_wday : :long))})"

%main.flex.flex-col.gap-3

  .my-6.prose.max-w-4xl.mx-auto.text-secondary.override-headings
    %h1.text-3xl
      = t('.privacy_policy_updated')
    .text-xl.mt-6
      = t('.effective_date', date: l(@policy.created_at.to_date, format: (I18n.locale == :ja ? :long_no_wday : :long)))
    .text.mt-6
      = t('.policy_info')
    .policy-content.mx-auto.my-6.text-secondary.override-headings.bg-white.p-6.rounded-lg.shadow.border.border-black
      = markdown(@policy.content)

  = form_with model: PrivacyPolicyAcceptance.new,
              url:   privacy_policy_acceptances_path,
              local: true do |f|
    .form-check.mb-3.text-center
      = f.check_box :accepted
      = f.label :accepted, t('privacy_policy_acceptances.i_agree')
    .text-center.pb-24
      = f.submit t('privacy_policy_acceptances.agree_button'),
                class: 'btn btn-secondary'