= render 'shared/subtitle', text: t('.privacy_policy')
%main.flex.flex-col.gap-3.text-center
  %h1 Privacy Policy (v#{@policy.version})

  .policy-content.my-6.prose.mx-auto.text-secondary.override-headings
    = markdown(@policy.content)

  = form_with model: PrivacyPolicyAcceptance.new,
              url:   privacy_policy_acceptances_path,
              local: true do |f|
    .form-check.mb-3
      = f.check_box :accepted
      = f.label :accepted, t('privacy.i_agree',
                             default: 'I have read and agree to the Privacy Policy.')
    = f.submit t('privacy.agree_button', default: 'Accept and Continue'),
               class: 'btn btn-secondary mb-24'