-# locals: (path:)

:ruby
  if path
    split_path = path.split('/')
    current = split_path.last
  end

%nav.flex.gap-3.px-3
  = link_to 'root',
            files_path,
            class: "rounded p-2 #{path ? 'bg-blue-200' : 'bg-blue-400'}"
  - if path
    - split_path.each_with_index do |p, i|
      = link_to "/#{p}",
                files_path(path: split_path[0..i].join('/')),
                class: "rounded p-2 #{current == p ? 'bg-blue-400' : 'bg-blue-200'}"
