-# locals (files:, path:)

:ruby
  folders = files.map { |f| f.key.gsub(path || '', '').gsub(f.filename.to_s, '') }.uniq[1..]
  files = files.reject { |f| folders.any? { |folder| f.key.include?(folder) } } if folders
  back_path = path.split('/')[0..-2].join('/') if path

= render 'files/breadcrumb', path:

.flex.justify-center.p-2
  = render 'files/upload_form', path:
  .flex-grow
  = render 'files/new_folder', path:

%table.w-full.text-center
  %thead
    %tr
      %th Key
      %th Filename
      %th Extension
      %th Size
      %th Downloads
      %th Download Button
  %tbody
    %tr
      - if back_path
        %td.fw-bold{ colspan: 6 }= link_to '...', files_path(path: back_path)
    - folders&.each do |folder|
      %tr
        %td.fw-bold{ colspan: 6 }= link_to folder, files_path(path: "#{path || ''}#{folder}/")
    - files.each do |file|
      %tr
        %td= file.key
        %td= file.filename.base
        %td= file.filename.extension_with_delimiter
        %td= number_to_human_size(file.byte_size)
        %td= file.download_count
        %td
          = link_to 'Download', file_path(file.id),
                    target: '_blank',
                    rel: 'noopener noreferrer'
