= render 'shared/subtitle', text: 'Chonky files'

%main.p-3.flex.items-start.justify-center
  %table
    %thead
      %tr
        %th.thead.thead-s.bg-secondary-50 Filename
        %th.thead.bg-secondary-50 Size
        %th.thead.bg-secondary-50 Download Count
        %th.thead.thead-e.bg-secondary-50 Total Bandwidth Used
    %tbody
      - @files.each do |file|
        %tr.even:bg-white.odd:bg-main-50.odd:text-white
          %td.p-2
            = link_to file.filename,
                      file_path(file),
                      target: '_blank',
                      rel: 'noopener'
          %td.text-end.p-2
            = number_to_human_size(file.byte_size)
          %td.text-end.p-2= file.download_count
          %td.text-end.p-2
            = number_to_human_size(file.byte_size * file.download_count)
