%main.flex.flex-col.gap-3.p-3
  %h1 Hi #{@user.name}
  %h3 You're a #{@user.type}
  %h3= @user.email

  = link_to 'Edit',
            edit_organisation_writer_path(@user.organisation_id, @user),
            class: 'btn btn-info'

= render 'users/proposed_changes',
         changes: @changes

= render 'users/user_lessons',
         assigned: @assigned_lessons,
         created: @created_lessons
