= render 'shared/subtitle', text: "Hi, #{@user.name}"

%main.flex.flex-col.gap-3.p-3
  = render 'writers/curriculum_links'
  = render 'users/teacher_spy', org_teachers: @org_teachers

  = render 'proposals/table',
           proposals: @proposals

  = render 'users/user_lessons',
           assigned: @assigned_lessons,
           created: @created_lessons
