= render 'shared/subtitle', text: "Hi, #{@user.name}"

%main.flex.flex-col.gap-3.p-3
  %h3 You're a #{@user.type}
  %h3= @user.email

  = link_to 'Edit',
            edit_organisation_writer_path(@user.organisation_id, @user),
            class: 'btn btn-info'

= render 'proposals/table',
         proposals: @proposals

= render 'users/user_lessons',
         assigned: @assigned_lessons,
         created: @created_lessons
