%main.p-3
  %table
    %thead
      %tr
        %th{ class: 'p-2 bg-color-main/50 rounded-s border-r border-r-white' } Lesson Title
        %th{ class: 'p-2 bg-color-main/50 border-r border-r-white' } Usage Count
        - @courses.each do |course|
          - if course.id == @courses.last.id
            %th{ class: 'p-2 bg-color-main/50 rounded-e' }= course.title
          - else
            %th{ class: 'p-2 bg-color-main/50 border-r border-r-white' }= course.title
    %tbody
      - @lessons.each do |lesson|
        %tr{ class: cycle('bg-color-main/10', 'bg-color-secondary/10') }
          %th{ scope: 'row' }= lesson.title
          %th{ scope: 'row' }= lesson.course_lessons.size
          - @courses.each do |course|
            - if (course_lesson = lesson.course_lessons.find { |cl| cl.course_id == course.id })
              %td.p-1.bg-lime-200 W#{course_lesson.week}, #{course_lesson.day.capitalize}
            - else
              %td
