-# locals: (lesson:)

.flex.flex-col.gap-4.w-full
  - EveningClass::SPECIALIST_SUBTYPES.each do |subtype|
    - goal = lesson.specialist_goal_for(subtype)
    - resources = lesson.specialist_resources_for(subtype)
    - next if goal.blank? && resources.blank?

    .border.border-secondary-50.rounded.p-3.flex.flex-col.gap-3
      %h3.text-lg.font-semibold= t("lessons.subtypes.#{subtype}")
      - if goal.present?
        .flex.flex-col.gap-1
          %h4.font-semibold= t('goal')
          %p.whitespace-pre-line= goal
      - if resources.any?
        .flex.flex-wrap.gap-3
          - resources.each do |resource|
            .flex.flex-col.gap-1.p-1.border-2.border-secondary-50.rounded
              = link_to file_path(resource.blob),
                        target: '_blank',
                        rel: 'noopener',
                        class: 'btn btn-main resource flex justify-around' do
                %p= resource.blob.filename
                = inline_svg_tag 'download_icon.svg',
                                 class: 'fill-white'
