-# locals: (classes:)

%table.w-full.text-center
  %thead
    %tr
      %th.thead.thead-s.bg-secondary-50
        = t('.name')
      - if current_user.is?('Admin', 'OrgAdmin')
        %th.thead.bg-secondary-50
          = t('.school')
      %th.thead.bg-secondary-50
        = t('.teachers')
      %th.thead.thead-e.bg-secondary-50
        = t('.students')
  %tbody
    - classes.each do |school_class|
      %tr
        %td.p-2
          = link_to school_class.name,
                    school_class_path(school_class)
        - if current_user.is?('Admin', 'OrgAdmin')
          %td.p-2= school_class.school.name
        %td.p-2= school_class.teachers.map(&:name).to_sentence
        %td.p-2= school_class.students_count
