-# locals: (classes:)

%table.w-full.text-center
  %thead
    %tr
      %th{ class: 'p-2 bg-main-50 rounded-s border-r border-r-white' }
        = t('.name')
      - if current_user.is?('Admin', 'OrgAdmin')
        %th{ class: 'p-2 bg-main-50 border-r border-r-white' }
          = t('.school')
      %th{ class: 'p-2 bg-main-50 border-r border-r-white' }
        = t('.teachers')
      %th{ class: 'p-2 bg-main-50 rounded-e' }
        = t('.students')
  %tbody
    - classes.each do |school_class|
      %tr
        %td.p-2
          = link_to school_class.name,
                    school_class_path(school_class)
        - if current_user.is?('Admin', 'OrgAdmin')
          %td.p-2= school_class.school.name
        %td.p-2= school_class.teachers.map(&:name).to_sentence
        %td.p-2= school_class.students_count
