= render 'shared/subtitle', text: @school_class.name

%main.flex.flex-col.items-center.gap-3.p-3
  %h3
    Teachers:
    = @teachers.to_sentence
  %h3= t('.students', count: @students.size)

  = link_to t('.create_student'),
            new_student_path(class_id: @school_class.id),
            class: 'btn btn-primary'

  - unless @possible_students.empty?
    = form_with model: @school_class, class: 'flex items-center gap-3' do |f|
      = f.fields_for :student_classes, @school_class.student_classes.new do |sc_f|
        .form-group
          = sc_f.select :student_id, @possible_students

        = sc_f.submit t('.add_existing_student'), class: 'btn btn-primary'

  = render 'students/table',
           students: @students

  = link_to t('.edit'),
            edit_school_class_path(@school_class),
            class: 'btn btn-secondary'
