-# locals: (lessons:, type:)

.flex.flex-col.gap-1
  %h2.flex.items-center.justify-center.gap-2.font-bold
    = image_tag "#{type.underscore}.svg",
                height: 50, width: 50
    = split_on_capitals(type).pluralize
  %table
    %thead
      %tr
        %th Title
        %th Week
        %th Day
        %th Update
    %tbody
      - lessons.each do |l|
        = form_with model: l,
                    class: 'flex gap-1' do |f|
          = f.fields_for :course_lessons,
                         l.course_lessons.find { |cl| cl.course_id == @course.id } do |cl_f|
            %tr
              %td
                = link_to with_subtype(l),
                          lesson_path(l),
                          class: 'font-semibold'
              = render 'course_lessons/date_fields',
                       f: cl_f,
                       table: true
              %td
                = cl_f.hidden_field :course_id
                = cl_f.submit 'Change Date', class: 'btn btn-primary text-sm'
