-# locals: (lessons:, type:)

.flex.flex-col.gap-1
  %h2.flex.items-center.justify-center.gap-2.font-bold
    = image_tag "lesson_types/#{type.underscore}.svg",
                height: 50, width: 50
    = split_on_capitals(type).pluralize
  %table
    %thead
      %tr
        %th Title
        %th.flex.gap-1.text-center
          %p{ class: 'basis-1/5' } Week
          %p{ class: 'basis-1/5' } Day
          %p{ class: 'basis-3/5' }
    %tbody
      - lessons.each do |l|
        %tr
          %td
            = link_to with_subtype(l),
                      lesson_path(l),
                      class: 'font-semibold'
          %td
            = form_with model: l,
                        class: 'flex items-center gap-1' do |f|
              = f.fields_for :course_lessons,
                             l.course_lessons.find { |cl| cl.course_id == @course.id } do |cl_f|
                = render 'course_lessons/date_fields',
                         f: cl_f,
                         table: true
                = cl_f.submit 'Change Date', class: 'btn btn-primary text-sm'
