-# locals: (courses:, lesson:, resource_ids:)
= render 'shared/subtitle',
         text: "#{lesson.new_record? ? 'Edit' : 'New'} #{lesson.type.titleize}"

- form_controllers = ['fields']
- form_controllers << 'phonics-level' if lesson.type == 'PhonicsClass'
= form_with model: lesson,
            html: { id: "#{lesson.type.underscore}_form",
                    class: 'form',
                    data: { controller: form_controllers.join(' ') } } do |f|
  - courses_required_types = ['PhonicsClass', 'EnglishClass']
  - no_course_types = ['seasonal_activity', 'party_activity', 'event_activity']

  - if courses_required_types.include?(lesson.type)
    - type_fields = render("lessons/#{lesson.type.pluralize.underscore}/fields",
                           f: f, lesson: lesson, courses: courses)
  - else
    - type_fields = render("lessons/#{lesson.type.pluralize.underscore}/fields",
                           f: f, lesson: lesson)

  = render 'shared/form_errors', resource: lesson
  = f.hidden_field :type, value: lesson.type

  - if no_course_types.include?(lesson.type.underscore)
    %h3.text-xl.font-bold Organisations & Dates

    = f.fields_for :organisation_lessons, lesson.organisation_lessons do |ol_f|
      = render 'organisation_lessons/fields',
              f: ol_f,
              organisations: @organisations

    %template{ 'data-fields-target': 'template' }
      = f.fields_for :organisation_lessons,
                    lesson.organisation_lessons.new,
                    child_index: 'CHILD' do |ol_f|
        = render 'organisation_lessons/fields',
                f: ol_f,
                organisations: @organisations
    %div{ 'data-fields-target': 'target' }
    %button.btn.btn-secondary.self-center{ 'data-action': 'fields#add' }
      Add Organisation
  - else
    - if current_user.is?('Admin')
      - plan_data = courses.to_h { |c| [c.id, c.plan_date_data] }.to_json

      %details{ class: 'w-full', open: lesson.course_lessons.none? }
        %summary{ class: 'cursor-pointer text-center font-bold text-lg' }
          Courses
          - if lesson.course_lessons.any?
            %span.text-sm.text-gray-500.ml-2
              = "(#{lesson.course_lessons.size})"
          - else
            %span.text-sm.text-gray-500.ml-2
              (none yet)

        .mt-4
          = f.fields_for :course_lessons, lesson.course_lessons do |cl_f|
            = render 'course_lessons/fields',
                     collection: courses,
                     f: cl_f,
                     plan_data:,
                     resource: lesson

          %template{ 'data-fields-target' => 'template' }
            = f.fields_for :course_lessons,
                           lesson.course_lessons.new,
                           child_index: 'CHILD' do |cl_f|
              = render 'course_lessons/fields',
                       collection: courses,
                       f: cl_f,
                       plan_data:,
                       resource: lesson

          %div{ 'data-fields-target' => 'target' }

          %div.flex.justify-center.mt-4
            %button.btn.btn-secondary{ 'data-action' => 'fields#add' }
              Add Course

  = yield :priority_fields

  .form-group
    = f.label :title
    = f.text_field :title, required: true

  .form-group
    = f.label :goal
    = f.text_area :goal
    %small.-mt-1 More than 3 lines will work but be ridiculously small

  - unless ['KindyPhonic', 'EventActivity', 'SeasonalActivity', 'PartyActivity', 'ParentsReport'].include?(lesson.type)

    .form-group
      - level_data = lesson.type == 'PhonicsClass' ? { action: 'phonics-level#levelChanged', phonics_level_target: 'levelSelect' } : {}
      = f.label :level
      = f.select :level,
                 lesson.class.levels.to_h { |k, _v| [k.titleize, k] },
                 { prompt: 'Select a level' },
                 { required: true, data: level_data }

  = type_fields

  .form-group
    = f.label :resources
    = f.file_field :resources, multiple: true
    - if resource_ids
      - resource_ids.each do |id|
        = f.hidden_field :resources,
                         multiple: true,
                         value: id

  %h3.text-xl.font-bold Links

  %div{ data: { controller: 'fields' } }
    = f.fields_for :lesson_links, lesson.lesson_links do |ll_f|
      = render 'lesson_links/fields', f: ll_f

    %template{ 'data-fields-target': 'template' }
      = f.fields_for :lesson_links,
                    lesson.lesson_links.new,
                    child_index: 'CHILD' do |ll_f|
        = render 'lesson_links/fields', f: ll_f

    %div{ 'data-fields-target': 'target' }

    %div.flex.justify-center.mt-4
      %button.btn.btn-secondary{ 'data-action': 'fields#add' }
        Add Link
  = f.submit class: 'btn btn-main'
