-# locals: (courses:, lesson:)

= form_with model: lesson,
            html: { id: "#{lesson.type.underscore}_form",
                    class: 'form',
                    data: { controller: 'fields' } } do |f|
  = render 'shared/form_errors', resource: lesson

  .form-group
    = f.label :title
    = f.text_field :title

  .form-group
    = f.label :summary
    = f.text_area :summary

  .form-group
    = f.label :week
    = f.number_field :week, min: 1, max: 52

  .form-group
    = f.label :day
    = f.select :day, Lesson.days.to_h { |k, _v| [k.capitalize, k] }

  .form-group
    = f.label :level
    = f.select :level, Lesson.levels.to_h { |k, _v| [k.titleize, k] }

  = f.fields_for :course_lessons, lesson.course_lessons do |cl_f|
    = render('course_lessons/course_fields', f: cl_f, courses:, lesson:)

  %template{ 'data-fields-target' => 'template' }
    = f.fields_for :course_lessons,
                   lesson.course_lessons.new,
                   child_index: 'CHILD' do |cl_f|
      = render('course_lessons/course_fields', f: cl_f, courses:, lesson:)

  %div{ 'data-fields-target' => 'target' }

  %button.btn.btn-info{ 'data-action' => 'fields#add' }
    Add Course

  = render("lessons/#{lesson.type.pluralize.underscore}/fields", f:, lesson:)

  = f.submit class: 'btn btn-primary'
