-# locals: (courses:, lesson:)

= form_with model: lesson,
            html: { id: "#{lesson.type.underscore}_form",
                    class: 'form',
                    data: { controller: 'fields' } } do |f|
  = render 'shared/form_errors', resource: lesson

  .form-group
    = f.label :title
    = f.text_field :title, required: true

  .form-group
    = f.label :goal
    = f.text_area :goal

  - unless controller_name == 'proposed_changes'
    .form-group
      = f.label :level
      = f.select :level,
                 Lesson.levels.to_h { |k, _v| [k.titleize, k] },
                 required: true,
                 prompt: 'Select a level'

    %h3.font-bold Courses

    = f.fields_for :course_lessons, lesson.course_lessons do |cl_f|
      = render('course_lessons/fields',
               collection: courses,
               f: cl_f,
               resource: lesson)

    %template{ 'data-fields-target' => 'template' }
      = f.fields_for :course_lessons,
                     lesson.course_lessons.new,
                     child_index: 'CHILD' do |cl_f|
        = render('course_lessons/fields',
                 collection: courses,
                 f: cl_f,
                 resource: lesson)

    %div{ 'data-fields-target' => 'target' }

    %button.btn.btn-info{ 'data-action' => 'fields#add' }
      Add Course

  = render("lessons/#{lesson.type.pluralize.underscore}/fields", f:, lesson:)

  = f.submit class: 'btn btn-primary'
