-# locals: (lesson:)

= form_with model: lesson,
            url: [lesson.course, lesson],
            id: "#{lesson.type.underscore}_form",
            class: 'form' do |f|
  = render 'shared/form_errors', resource: lesson

  .form-group
    = f.label :title
    = f.text_field :title

  .form-group
    = f.label :summary
    = f.text_area :summary

  .form-group
    = f.label :week
    = f.number_field :week, min: 1, max: 52

  .form-group
    = f.label :day
    = f.select :day, Lesson.days.to_h { |k, _v| [k.capitalize, k] }

  .form-group
    = f.label :level
    = f.select :level, Lesson.levels.to_h { |k, _v| [k.titleize, k] }

  = render "lessons/#{lesson.type.pluralize.underscore}/fields", f:, lesson:

  = f.submit class: 'btn btn-primary'
