.p-3
  = render 'lessons/new_lesson_dropdown'

%nav.flex.justify-around.items-center.p-2
  %h3.fw-semibold Filter by:
  = link_to 'All', lessons_path, class: 'btn btn-info'
  - Lesson::TYPES.each do |type|
    = link_to split_on_capitals(type),
              send("#{type.pluralize.underscore}_path"),
              class: 'btn btn-info'
%main
  = render 'lessons/lesson_status_table', lessons: @lessons
