%main.flex.flex-col.text-center
  .flex.p-3
    %div{ class: 'flex-grow flex flex-col gap-3 text-start text-semibold' }
      %h1= @lesson.title

      - if @courses.any?
        %h3 Used in the following courses:
        - @courses.each do |c|
          = link_to "#{c.name} on #{@lesson.week(c)} #{@lesson.day(c)}",
                    course_path(c)
      - else
        %h3 Not used in any courses

      %h3
        #{@lesson.type}#{" - #{@lesson.subtype.capitalize}" if @lesson.subtype}
      %p= @lesson.summary
    = link_to file_path(@lesson.guide.blob),
              target: '_blank',
              rel: 'noopener',
              class: 'guide_link border' do
      = image_tag @lesson.guide.preview(:thumb),
                  class: 'guide_image w-full'
      %h3 Download Guide

  = render "lessons/#{@lesson.type.pluralize.underscore}/#{@lesson.type.underscore}",
           lesson: @lesson

  = link_to 'Edit',
            edit_lesson_path(@lesson),
            class: 'btn btn-info w-full'
