= render 'shared/subtitle', text: @lesson.title

%main.flex.flex-col.text-center
  .flex.p-3
    %div{ class: 'flex-grow flex flex-col gap-3 text-start text-semibold' }
      .flex.gap-2.items-center
        = image_tag type_icon_path(@lesson),
                    height: 50,
                    width: 50
        %h1= @lesson.title
        = image_tag level_icon_path(@lesson),
                    height: 50,
                    width: 50
        - unless @lesson.changed_lesson_id.nil?
          %h1
            = ' - Proposal for '
            = link_to @lesson.changed_lesson.title,
                      lesson_path(@lesson.changed_lesson)
        = render 'shared/visibility_toggles', resource: @lesson
        = link_to current_user.is?('Writer') ? 'Propose Changes' : 'Edit',
                  edit_lesson_path(@lesson),
                  class: 'btn btn-secondary px-3 py-1'
        - if current_user.is?('Admin')
          = link_to 'View Diff',
                    lesson_version_path(@lesson),
                    class: 'btn btn-secondary px-3 py-1'

      - if @lesson.subtype
        %h3
          #{split_on_capitals(@lesson.type)}#{" - #{@lesson.subtype.titleize}"}

      - if @lesson.topic.present?
        %h3 Topic:
        %p= @lesson.topic

      %h3 Goal:
      %p= @lesson.goal
      - if @lesson.type == 'SeasonalActivity'
        = render 'lessons/seasonal_activities/show_fields', lesson: @lesson

      - if @courses.any?
        %h3 Used in the following courses:
        - @courses.each do |c|
          = link_to "#{c.title} on #{@lesson.week(c)} #{@lesson.day(c)}",
                    course_path(c)
      - else
        %h3 Not used in any courses

      = render 'lessons/shared/approval', lesson: @lesson

      = render 'proposals/table', proposals: @proposals

    = render 'lessons/shared/guide_preview', lesson: @lesson
  
  .flex.flex-col.p-3.gap-3
    = render 'lessons/shared/attribute_list', lesson: @lesson
    = render 'lessons/shared/resource_list', resources: @resources, lesson: @lesson
    - if @phonics_resources
      = render 'lessons/phonics_classes/phonics_resources',
               resources: @phonics_resources
  
  .flex.justify-center.gap-3
    = link_to 'Delete',
              lesson_path(@lesson),
              data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' },
              class: 'btn btn-danger'
