%main.flex.flex-col.text-center
  .flex.p-3
    %div{ class: 'flex-grow flex flex-col gap-3 text-start text-semibold' }
      .flex.gap-2.items-center
        = image_tag icon_path(@lesson), class: 'h-7'
        %h1= @lesson.title
      %h3
        #{split_on_capitals(@lesson.type)}#{" - #{@lesson.subtype.capitalize}" if @lesson.subtype}
      %h3 Created by: #{@lesson.creator.name}
      %h3 Assigned editor: #{@lesson.assigned_editor.name}

      %p= @lesson.goal

      - if @courses.any?
        %h3 Used in the following courses:
        - @courses.each do |c|
          = link_to "#{c.title} on #{@lesson.week(c)} #{@lesson.day(c)}",
                    course_path(c)
      - else
        %h3 Not used in any courses

      = render 'lessons/shared/approval', lesson: @lesson

    = render 'lessons/shared/guide_preview', lesson: @lesson

  = render "lessons/#{@lesson.type.pluralize.underscore}/#{@lesson.type.underscore}",
           lesson: @lesson

  .flex.justify-center.gap-3
    = link_to 'Edit',
              edit_lesson_path(@lesson),
              class: 'btn btn-info'

    = link_to 'Delete',
              lesson_path(@lesson),
              data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' },
              class: 'btn btn-danger'
