-# locals: (date:)

- week_start = date.beginning_of_week.to_date
- weekdays = (0...5).map { |n| week_start + n.days }

%nav.w-full.flex.justify-between.items-center
  .spacer
  = link_to organisation_teacher_path(organisation_id: @user.organisation_id,
                                      id: @user.id, date: date - 7.days),
            class: 'week-arrow' do
    = '<'
  .spacer

  - unless weekdays.include?(Time.zone.today)
    = link_to organisation_teacher_path(organisation_id: @user.organisation_id,
                                        id: @user.id, date: Time.zone.today),
              class: 'self-stretch flex flex-col justify-center items-center gap-2 rounded-3xl bg-color-main p-2' do
      %h3.rounded-full.bg-white.text-color-main.text-xl.font-bold.p-2
        Click here
      %div
        %h3.font-bold.text-white Today's
        %h3.font-bold.text-white Lessons

  - weekdays.each do |day|
    - active = day == date
    = link_to organisation_teacher_path(organisation_id: @user.organisation_id,
                                        id: @user.id, date: day),
              class: day_link_classes(active, day) do
      %h3{ class: day_link_date_classes(active) }
        = day.strftime('%-m/%-d')
      .font-bold.text-white.text-2xl.py-5= day.strftime('%a').first

  .spacer
  = link_to organisation_teacher_path(organisation_id: @user.organisation_id,
                                      id: @user.id, date: date + 7.days),
            class: 'week-arrow' do
    = '>'
  .spacer
