-# locals: (date:)

:ruby
  arrow_classes = 'flex items-center font-extrabold text-6xl text-main p-3'
  week_start = date.beginning_of_week.to_date
  weekdays = (0...5).map { |n| week_start + n.days }

%nav.w-full.flex.justify-between.items-stretch.py-6
  .spacer
  = link_to organisation_teacher_path(organisation_id: @user.organisation_id,
                                      id: @user.id, date: date - 7.days),
            class: arrow_classes do
    %p «
  = link_to organisation_teacher_path(organisation_id: @user.organisation_id,
                                      id: @user.id, date: date.prev_weekday),
            class: arrow_classes do
    %p ‹

  - unless weekdays.include?(Time.zone.today)
    = link_to organisation_teacher_path(organisation_id: @user.organisation_id,
                                        id: @user.id, date: Time.zone.today),
              class: 'flex flex-col justify-center items-center gap-2 rounded-3xl bg-main p-2' do
      %h3.rounded-full.bg-white.text-main.text-xl.font-bold.p-2
        Click here
      %div
        %h3.font-bold.text-white Today's
        %h3.font-bold.text-white Lessons

  - weekdays.each do |day|
    - active = day == date
    = link_to organisation_teacher_path(organisation_id: @user.organisation_id,
                                        id: @user.id, date: day),
              class: day_link_classes(active, day) do
      %h3{ class: day_link_date_classes(active) }
        = day.strftime('%-m/%-d')
      .font-bold.text-white.text-2xl.py-5= day.strftime('%a').first

  = link_to organisation_teacher_path(organisation_id: @user.organisation_id,
                                      id: @user.id, date: date.next_weekday),
            class: arrow_classes do
    %p ›
  = link_to organisation_teacher_path(organisation_id: @user.organisation_id,
                                      id: @user.id, date: date + 7.days),
            class: arrow_classes do
    %p »
  .spacer
