-# locals: (schools:, user:)

= form_with model: [user.organisation, user],
            html: { class: 'form',
                    id: 'teacher_form' } do |f|
  = render 'shared/form_errors', resource: @user

  = render 'users/fields', f:

  - unless current_user.is?('Teacher')
    .form-group
      = f.label :school_id
      = f.select :school_id, schools

  = f.submit class: 'btn btn-primary',
             id: 'submit_teacher'
