-# locals: (schools:, user:)

= form_with model: [user.organisation, user],
            html: { class: 'form',
                    data: { controller: 'fields' },
                    id: 'teacher_form' } do |f|
  = render 'shared/form_errors', resource: user

  = render 'users/fields', f:

  %h3.text-center.font-bold Schools

  - unless current_user.is?('Teacher')
    - if user.schools.empty?
      = f.fields_for :school_teachers, user.school_teachers.new do |st_f|
        = render 'school_teachers/fields', f: st_f, collection: schools,
                                           resource: user
    - else
      = f.fields_for :school_teachers do |st_f|
        = render 'school_teachers/fields', f: st_f, collection: schools,
                                           resource: user

  %template{ 'data-fields-target' => 'template' }
    = f.fields_for :school_teachers,
                   user.school_teachers.new,
                   child_index: 'CHILD' do |st_f|
      = render 'school_teachers/fields', f: st_f, collection: schools,
                                         resource: user

  %div{ 'data-fields-target' => 'target' }

  %button.btn.btn-secondary{ 'data-action' => 'fields#add' }
    Add School

  = f.submit class: 'btn btn-primary',
             id: 'submit_teacher'
