-# locals: (lessons:)

:ruby
  english_classes = lessons.select { |lesson| lesson.type == 'EnglishClass' }
  phonics_classes = lessons.select { |lesson| lesson.type == 'PhonicsClass' }
  stand_show_speak = lessons.select { |lesson| lesson.type == 'StandShowSpeak' }

- if english_classes.any?
  %h2.flex.items-center.justify-center.col-start-2.row-start-1 English Class
  .flex.items-center.p-3.col-start-2.row-start-2
    = render 'teachers/lesson_resources',
             lesson: english_classes.find(&:land?)
  .flex.items-center.p-3.col-start-2.row-start-3
    = render 'teachers/lesson_resources',
             lesson: english_classes.find(&:sky?)
  .flex.items-center.p-3.col-start-2.row-start-4
    = render 'teachers/lesson_resources',
             lesson: english_classes.find(&:galaxy?)
- if phonics_classes.any?
  %h2.flex.items-center.justify-center.col-start-3.row-start-1 Phonics
  .flex.items-center.p-3.col-start-3.row-start-2
    = render 'teachers/lesson_resources',
             lesson: phonics_classes.find(&:land?)
  .flex.items-center.p-3.col-start-3.row-start-3
    = render 'teachers/lesson_resources',
             lesson: phonics_classes.find(&:sky?)
  .flex.items-center.p-3.col-start-3.row-start-4
    = render 'teachers/lesson_resources',
             lesson: phonics_classes.find(&:galaxy?)
- if stand_show_speak.any?
  %h2.flex.items-center.justify-center.col-start-4.row-start-1 Stand Show Speak
  .flex.items-center.p-3.col-start-4.row-start-2
    = render 'teachers/lesson_resources',
             lesson: stand_show_speak.find(&:land?)
  .flex.items-center.p-3.col-start-4.row-start-3
    = render 'teachers/lesson_resources',
             lesson: stand_show_speak.find(&:sky?)
  .flex.items-center.p-3.col-start-4.row-start-4
    = render 'teachers/lesson_resources',
             lesson: stand_show_speak.find(&:galaxy?)
