-# locals: (lessons:)

:ruby
  levelled_types = %w[EnglishClass PhonicsClass StandShowSpeak].freeze
  col_classes = { 'EnglishClass' => 'col-start-2',
                  'PhonicsClass' => 'col-start-3',
                  'StandShowSpeak' => 'col-start-4' }

- levelled_types.each do |type|
  :ruby
    type_lessons = lessons.select { |lesson| lesson.type == type }
    next if type_lessons.empty?

    col_class = col_classes[type]

  %h2{ class: "flex items-center #{col_class} row-start-1 text-wrap" }
    = split_on_capitals(type)
  %div{ class: "flex items-center p-1 #{col_class} row-start-2" }
    = render 'teachers/lesson_resources',
             lesson: type_lessons.find(&:kindy?)
  %div{ class: "flex items-center p-1 #{col_class} row-start-3" }
    = render 'teachers/lesson_resources',
             lesson: type_lessons.find(&:land?)
  %div{ class: "flex items-center p-1 #{col_class} row-start-4" }
    = render 'teachers/lesson_resources',
             lesson: type_lessons.find(&:sky?)
  %div{ class: "flex items-center p-1 #{col_class} row-start-5" }
    = render 'teachers/lesson_resources',
             lesson: type_lessons.find(&:galaxy?)
