= main_nav_link 'classes', school_classes_path unless current_user.ku?
= main_nav_link 'monthly_materials', monthly_materials_path
= main_nav_link 'students', students_path
= main_nav_link 'support', support_requests_path
= main_nav_link 'test', tests_path
-# %div{ class: 'w-full md:w-min text-nowrap md:h-[calc(100%+1rem)] ' \
-#              'flex justify-center items-center bg-secondary' }
-#   = main_nav_link 'tutorials'
