= main_nav_link t('.classes'),
                school_classes_path
= main_nav_link t('.students'),
                students_path
= main_nav_link t('.tests'),
                tests_path
= main_nav_link t('.request_support'),
                support_requests_path
.h-full.flex.items-center.bg-ku-purple
  = main_nav_link t('.tutorials'), 'fake_temp_path'
