= main_nav_link 'calendar', lesson_calendars_path
= main_nav_link 'classes', school_classes_path unless current_user.ku?
= main_nav_link 'monthly_materials', monthly_materials_path
= main_nav_link 'students', students_path
= main_nav_link 'support', support_requests_path
= main_nav_link 'test', tests_path
= main_nav_link 'tutorials', tutorials_path
= main_nav_link 'Events', teacher_event_lessons_path
