= main_nav_link 'classes',
                school_classes_path
= main_nav_link 'students',
                students_path
= main_nav_link 'test',
                tests_path
= main_nav_link 'support',
                support_requests_path
.h-full.flex.items-center.bg-color-secondary
  = main_nav_link 'tutorials', 'fake_temp_path'
