= main_nav_link t('.classes'), school_classes_path
= main_nav_link t('.request_support'), support_requests_path
= main_nav_link t('.students'), students_path
= main_nav_link t('.tests'), tests_path
.w-full.md:w-min.md:h-full.flex.justify-center.items-center.bg-color-secondary.-my-3
  = main_nav_link t('.tutorials'),
                  'fake_temp_path'
