-# locals: (date:, user:)

:ruby
  in_future = Time.zone.today < date
  in_past = date < Time.zone.today
  subtitle = if in_future
    t('.future_lessons', date: ja_date(date))
  elsif in_past
    t('.past_lessons', date: ja_date(date))
  else
    t('.today_lessons')
  end


= content_for :subtitle do
  %header#subtitle
    = link_to organisation_teacher_path(organisation_id: user.organisation_id,
                                        id: user.id, date: date.prev_weekday),
              class: 'w-12' do
      = image_tag 'back.svg'
    %h1.text-base.md:text-3xl= subtitle
    = link_to organisation_teacher_path(organisation_id: user.organisation_id,
                                        id: user.id, date: date.next_weekday),
              class: 'w-12' do
      = image_tag 'next.svg'
    .hidden.md:block.absolute.right-3= locale_toggle('fill-secondary')
