-# locals: (date:, level:, teacher:)

:ruby
  in_future = Time.zone.today < date
  in_past = date < Time.zone.today
  subtitle = if in_future
    t('.future_lessons', date: ja_date(date))
  elsif in_past
    t('.past_lessons', date: ja_date(date))
  else
    t('.today_lessons')
  end
  date_string = if I18n.locale == :ja
                  ja_date_weekday(date)
                else
                  date.strftime('%A, %B %d, %Y')
                end

%header#subtitle
  = link_to teacher_lessons_path(date: date.prev_weekday,
                                 level:, teacher_id: teacher.id),
            data: { turbo_stream: true },
            class: 'w-12' do
    = image_tag 'back.svg'

  .flex.flex-col.text-center
    %h1= subtitle
    - if !in_past && !in_future
      %small.text-xs.font-normal.text-secondary= date_string


  = link_to teacher_lessons_path(date: date.next_weekday,
                                 level:, teacher_id: teacher.id),
            data: { turbo_stream: true },
            class: 'w-12' do
    = image_tag 'next.svg'

  = render 'notifications/icon'
  .mt-10.mr-10.md:mr-20.rounded.border-2.border-secondary.p-0#notifications{ popover: 'auto' }
    = render 'notifications/popover_list',
             notifications: current_user.notifications
  .absolute.right-3.top-auto
    = locale_toggle(classes: 'fill-secondary', turbo_stream: true)
