-# locals: (lesson:)

%div{ class: 'flex flex-col gap-5 p-5 basis-1/5' }
  %h3.text-ku-purple.font-bold.text-center= lesson.title
  = image_tag cycle('dance.png', 'arts.png'), class: 'w-full'
  .flex.flex-col.gap-3
    = link_to file_path(lesson.guide.blob),
              target: '_blank',
              rel: 'noopener',
              class: 'flex items-center bg-ku-orange rounded-xl font-bold text-white py-1 px-3' do
      Guide
      .flex-grow
      %span.font-extrabold.text-xl= '>'

    %details.rounded-xl.border.border-ku-purple.overflow-hidden
      %summary.flex.items-center.bg-ku-purple.font-bold.text-white.py-1.px-3
        Resources
        .flex-grow
        %span.font-extrabold.text-xl= '>'
      .flex.flex-col.gap-2.p-1
        - lesson.resources.each do |r|
          = link_to r.blob.filename,
                    file_path(r.blob),
                    target: '_blank',
                    rel: 'noopener',
                    class: 'text-ku-purple'
