- in_future = Time.zone.today < @date

= render 'shared/subtitle',
         classes: in_future ? 'bg-neutral-dark text-main' : '',
         text: in_future ? "Future Planning: #{ja_date(@date)}" : "Welcome, #{@user.name}"

%main.flex.flex-col.md:flex-row.justify-around.gap-3
  - if @unlevelled_lessons.any?
    %section{ class: 'basis-[38%] shrink-0 grow flex flex-wrap justify-around' }
      = render partial: 'teachers/unlevelled_lesson',
               collection: @unlevelled_lessons.select(&:kindy?),
               as: :lesson
      = render partial: 'teachers/unlevelled_lesson',
               collection: @unlevelled_lessons.reject(&:kindy?),
               as: :lesson
      %div{ class: 'basis-[38%] grow' }

  - if @levelled_lessons.any?
    %section{ class: 'shrink-0 grow basis-[58%] grid grid-rows-6 auto-cols-fr' }
      = render 'teachers/levelled_lessons', lessons: @levelled_lessons

= render 'teachers/day_select',
         date: @date

- if current_user.is?('Admin')
  .flex.justify-center.p-3
    = link_to t('.edit_teacher'),
              edit_organisation_teacher_path(@user),
              class: 'btn btn-primary'
