- in_future = Time.zone.today < @date

= render 'shared/subtitle',
         classes: in_future ? 'bg-ku-gray-500 text-ku-orange' : '',
         text: in_future ? "Future Planning: #{ja_date(@date)}" : "Welcome, #{@user.name}"

- if current_user.ku?
  = link_to t('.edit'),
            edit_organisation_teacher_path(@user),
            class: 'btn btn-primary'

%main.flex.flex-col.gap-3.p-3

= render 'teachers/day_select',
         date: @date
