:ruby
  in_future = Time.zone.today < @date
  in_past = @date < Time.zone.today
  subtitle = if in_future
    t('.future_lessons', date: ja_date(@date))
  elsif in_past
    t('.past_lessons', date: ja_date(@date))
  else
    t('.today_lessons')
  end


= render 'shared/subtitle',
         classes: in_future || in_past ? 'bg-neutral-dark text-main' : '',
         text: subtitle

%main{ class: 'flex flex-col md:flex-row md:flex-wrap justify-around gap-3',
       data: { action: 'click@window->details#focus',
               controller: 'details' } }
  - if @unlevelled_lessons.any?
    %section{ class: 'basis-[38%] shrink-0 grow flex flex-col md:flex-row md:flex-wrap justify-around' }
      = render partial: 'teachers/unlevelled_lesson',
               collection: @unlevelled_lessons.select(&:kindy?),
               as: :lesson
      = render partial: 'teachers/unlevelled_lesson',
               collection: @unlevelled_lessons.reject(&:kindy?),
               as: :lesson
      = link_to teacher_resources_path(category: 'brush_up'),
                class: 'basis-[30%] grow flex cursor-pointer items-center bg-secondary rounded m-3' do
        %h2.w-full.font-bold.text-center.text-white Brush Up Resources

  - if @levelled_lessons.any?
    %section{ class: 'shrink-0 grow basis-[58%] grid grid-rows-6 auto-cols-fr p-3' }
      = render 'teachers/levelled_lessons', lessons: @levelled_lessons

  = render 'teachers/day_select',
           date: @date

  - if current_user.is?('Admin')
    .flex.justify-center.p-3
      = link_to t('.edit_teacher'),
                edit_organisation_teacher_path(@user),
                class: 'btn btn-primary'
