:ruby
  base = 'flex gap-6 p-3'
  mobile = 'flex-col justify-start items-stretch'
  desktop = 'md:flex-row md:items-center md:justify-center'

= render 'teachers/subtitle',
         date: Time.zone.today, level: @levels.first, teacher: @user

%main#teacher-lessons{ class: "#{base} #{mobile} #{desktop}" }
  - @levels.each do |level|
    = link_to lessons_path(level:, teacher_id: @user.id),
              class: 'card basis-1/2 max-w-full aspect-square p-3 flex flex-col gap-3',
              data: { turbo_stream: true } do
      = image_tag "levels/#{level}.svg"
      %h1= level.titleize
