-# locals: (lesson:)

- approved_by = (lesson.admin_approval + lesson.curriculum_approval).pluck('name')

%h3
  Created by:
  = link_to @lesson.creator.name,
            organisation_user_path(@lesson.creator.organisation,
                                   @lesson.creator)
%h3.flex.items-center.gap-3
  Assigned editor:
  = link_to @lesson.assigned_editor.name,
            organisation_user_path(@lesson.assigned_editor.organisation,
                                   @lesson.assigned_editor)

  - if current_user.is?('Admin')
    = form_with model: lesson, class: 'flex items-center gap-3 text-base' do |f|
      = f.label :assigned_editor_id, 'Change to:'
      = f.select :assigned_editor_id, @writers

      = f.submit 'Reassign', class: 'btn btn-main'

- if approved_by.any?
  %h3 Approved by: #{approved_by.to_sentence}

= form_with model: lesson, class: 'flex flex-col gap-3' do |f|
  .form-group
    = f.label :internal_notes
    = f.text_area :internal_notes

  = f.submit t('update_notes'), class: 'btn btn-main w-full'
