-# locals: (lesson:)

- admins_approved = lesson.admin_approval.pluck('name')
- writers_approved = lesson.curriculum_approval.pluck('name')

%h3
  Created by:
  = link_to @lesson.creator.name,
            organisation_user_path(@lesson.creator.organisation,
                                   @lesson.creator)
%h3.flex.items-center.gap-3
  Assigned editor:
  = link_to @lesson.assigned_editor.name,
            organisation_user_path(@lesson.assigned_editor.organisation,
                                   @lesson.assigned_editor)
  - if current_user.is?('Admin')
    = form_with model: lesson, class: 'flex items-center gap-3 text-base' do |f|
      = f.label :assigned_editor_id, 'Change to:'
      = f.select :assigned_editor_id, @writers

      = f.submit 'Reassign', class: 'btn btn-primary'

= form_with model: lesson, class: 'form' do |f|
  .form-group
    = f.label :internal_notes
    = f.text_area :internal_notes, class: 'h-[10vh]'

  = f.submit 'Update Notes', class: 'btn btn-primary'

- if current_user.is?('Writer') && writers_approved.none?(current_user.name)
  = form_with model: lesson do |f|
    = f.hidden_field :ca_id, value: current_user.id
    = f.hidden_field :ca_name, value: current_user.name
    = f.submit 'Give curriculum team approval', class: 'btn btn-primary'

- if current_user.is?('Admin') && admins_approved.none?(current_user.name)
  = form_with model: lesson do |f|
    = f.hidden_field :aa_id, value: current_user.id
    = f.hidden_field :aa_name, value: current_user.name
    = f.submit 'Give admin approval', class: 'btn btn-primary'

- if admins_approved.any? || writers_approved.any?
  %p Lesson approved by #{(admins_approved + writers_approved).to_sentence}
