-# locals: (changes:, lesson:)

- if changes.any?
  %table.text-center#proposed-changes
    %thead
      %tr
        %th Proponent
        %th Changes
        %th Comments
        - if current_user.is?('Admin')
          %th Status
        %th
    %tbody
      - changes.each do |change|
        = form_with model: change do |f|
          %tr
            %td= change.proponent.name
            %td
              %ul
                - change.proposals.except('comments').each do |k, v|
                  - changed = v != lesson.send(k.to_sym)
                  %li{ class: changed ? 'text-red-500' : 'text-green-500' }
                    #{k.humanize}: #{v}
            - if current_user.is?('Admin')
              %td= f.text_area :comments
              %td= f.select :status,
                            ProposedChange.statuses.keys.map { |k| [k.humanize, k] }
              %td= f.submit 'Update', class: 'btn btn-primary'
