-# locals: (changes:, lesson:)

%table.text-center#proposed-changes
  %thead
    %tr
      %th Proponent
      %th Changes
      %th Approve
      %th Reject
  %tbody
    - changes.each do |pc|
      %tr
        %td Proposed by #{pc.proponent.name}
        %td
          %ul
            - pc.proposals.each do |k, v|
              - changed = lesson.send(k.to_sym) == v
              %li{ class: changed ? 'text-green-500' : 'text-red-500' }
                Proposed #{k.humanize}: #{v}
        %td
          = link_to 'Approve'
        %td
          = link_to 'Reject',
                    proposed_change_path(pc),
                    data: { turbo_confirm: 'Are you sure?', turbo_method: :delete },
                    class: 'btn btn-danger'
