-# locals: (proposals:, lesson:)

- if proposals.any?
  %table.text-center#proposals
    %thead
      %tr
        %th Proponent
        %th Comments
        %th Status
        - if current_user.is?('Admin')
          %th
    %tbody
      - proposals.each do |proposal|
        - if current_user.is?('Admin')
          = form_with model: proposal do |f|
            %tr
              %td= proposal.creator.name
              - if current_user.is?('Admin')
                %td= f.text_area :internal_notes
                %td= f.select :status,
                              Lesson.statuses.keys.map { |k| [k.humanize, k] }
                %td= f.submit 'Update', class: 'btn btn-primary'
        - else
          %tr
            %td Proposed by: #{proposal.creator.name}
            %td= proposal.internal_notes
            %td= proposal.status.titleize
