= render 'devise/nav'

%main.h-screen.mt-0.flex.justify-center.items-center.p-3
  = form_for resource,
             as: resource_name,
             url: session_path(resource_name),
             html: { class: 'form w-full md:w-1/3 gap-6 bg-white rounded p-6' } do |f|
    .flex.flex-col.md:flex-row.items-center.justify-between.gap-3.md:gap-6
      = f.label :email
      = f.email_field :email,
                      autofocus: true, autocomplete: 'email',
                      class: 'w-full md:basis-2/3'

    .flex.flex-col.md:flex-row.items-center.justify-between.gap-3.md:gap-6
      = f.label :password
      = f.password_field :password,
                         autocomplete: 'current-password',
                         class: 'w-full md:basis-2/3'

    %small.w-full.text-end.-mt-5
      = link_to t('.forgot_your_password'),
                new_password_path(resource_name)

    .flex.flex-row.flex-wrap.items-start.md:items-center.justify-between.gap-3
      .form-check
        = f.check_box :remember_me
        = f.label :remember_me

      = f.submit t('.sign_in'),
                 class: 'btn btn-primary basis-full md:basis-1/5'
