= render 'devise/nav'

%main.h-screen.-mt-16.flex.justify-center.items-center.p-1
  = form_for resource,
             as: resource_name,
             url: session_path(resource_name),
             html: { class: 'form gap-6 bg-white rounded p-6' } do |f|
    .flex.flex-col.md:flex-row.items-center.justify-between.gap-3.md:gap-6
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: 'email'

    .flex.flex-col.md:flex-row.items-center.justify-between.gap-3.md:gap-6
      = f.label :password
      = f.password_field :password, autocomplete: 'current-password'

    %small.w-full.text-end.-mt-3
      = link_to t('.forgot_your_password'),
                new_password_path(resource_name)

    .flex.items-center.justify-between
      .form-check
        = f.check_box :remember_me
        = f.label :remember_me

      .actions
        = f.submit t('.sign_in'),
                   class: 'btn btn-primary'
