-# locals: (orgs:, student_id: nil)

= turbo_frame_tag 'user_search_frame',
                  target: 'user_table' do
  = form_with url: user_searches_path,
              scope: :search,
              html: { class: 'flex flex-col gap-3',
                      id: 'user_search', method: :get } do |f|
    = f.hidden_field :student_id, value: student_id if student_id
    - if current_user.is?('SchoolManager')
      .h3.font-bold= t('.invitation_link')
      = render 'organisations/new_parent_link', org_id: current_user.organisation_id

    .flex.gap-3.justify-between
      .form-group
        = f.label :name, t('.name')
        = f.text_field :name

      .form-group
        = f.label :email, t('.email')
        = f.text_field :email

      - if student_id.nil?
        .form-group
          = f.label :type, t('.role')
          = f.select :type,
                     current_user.class::VISIBLE_TYPES.map { |t| [t.titleize, t] },
                     { prompt: t('.select_role') }

      - unless orgs.empty?
        .form-group
          = f.label :organisation_id, t('.organisation')
          = f.select :organisation_id,
                     orgs,
                     { prompt: t('.select_organisation') }

    = f.submit t('.search'), class: 'btn btn-main w-1/3 self-end'
