-# locals: (orgs:, student_id: nil)

- field_classes = 'basis-2/5 flex-grow flex justify-center items-center gap-1'

= turbo_frame_tag 'user_search_frame',
                  target: 'user_table' do
  = form_with url: user_searches_path,
              scope: :search,
              html: { class: 'flex flex-wrap justify-center items-center gap-3',
                      id: 'user_search', method: :get } do |f|
    = f.hidden_field :student_id, value: student_id if student_id

    %div{ class: field_classes }
      = f.label :name, t('.name')
      = f.text_field :name

    %div{ class: field_classes }
      = f.label :email, t('.email')
      = f.text_field :email

    %div{ class: field_classes }
      = f.label :type, t('.role')
      = f.select :type,
                 current_user.class::VISIBLE_TYPES.map { |t| [t.titleize, t] },
                 { prompt: t('.select_role') }

    - unless orgs.empty?
      %div{ class: field_classes }
        = f.label :organisation_id, t('.organisation')
        = f.select :organisation_id,
                   orgs,
                   { prompt: t('.select_organisation') }

    = f.submit t('.search'), class: 'btn btn-primary w-full'
