= render 'shared/subtitle', text: t('.homework')

%main.flex.flex-col.gap-6.p-3

  - unless current_user.is?('Admin', 'Writer')
    %nav.tab-nav.flex.gap-3.mb-4
      - ordered = ['Land', 'Sky', 'Galaxy', 'Keep Up', 'Specialist']
      - @short_levels.sort_by { |lvl| ordered.index(lvl) || 999 }.each do |level|
        - active = (params[:level] == level) ? 'active' : 'inactive'
        = link_to level.capitalize,
                  homeworks_path(course_id: @course.id, level: level),
                  class: "nav-tab #{active}"

    %div.max-w-screen-md.mx-auto.w-full
      %table.text.md:text-base.w-full
        %thead
          %tr.text-white.font-bold
            %th.thead.thead-s.bg-secondary-50= t('.date')
            %th.thead.thead-e.bg-secondary-50= t('.pages')
        %tbody.text-center
          - if @homework_resources.present?
            = render_homework_rows(@homework_resources)
          - else
            %tr
              %td.p-4.text-center{ colspan: 2 }
                %em.text-gray-500= t('.no_homework')

  - if current_user.is?('Admin', 'Writer')
    = render 'admin'
