-# locals: (lesson:, proposal:, table: nil)

= form_with url: proposal_path(proposal),
            scope: :proposal,
            method: :patch,
            html: { class: 'w-full flex flex-wrap gap-3 p-3 justify-center',
                    id: 'proposal_status_form' } do |f|
  - if table
    %td
      = link_to proposal.title,
                proposal_path(proposal)
      %td= proposal.creator.name
      - if current_user.is?('Admin')
        %td
          = f.text_area :internal_notes,
                        class: 'w-full'
        %td
          = f.select :status,
                     opts_from(Lesson, :statuses)
          = f.submit 'Update', class: 'btn btn-main'

  - else
    = render 'shared/form_errors', resource: lesson
    = render 'shared/form_errors', resource: proposal
    = f.text_area :internal_notes,
                  placeholder: 'Comment on this proposal here',
                  rows: '4',
                  class: 'w-full'
    = f.select :status,
               opts_from(Lesson, :statuses),
               class: 'basis-2/5'

    = f.submit class: 'btn btn-main basis-2/5',
               id: 'proposal_status_form_submit'
