-# locals: (lesson:, proposal:)

= form_with model: proposal,
            scope: :proposal,
            html: { class: 'w-full flex flex-wrap gap-3 p-3 justify-center',
                    id: 'proposal_status_form' } do |f|
  = f.hidden_field :changed_lesson_id, value: lesson.id
  = f.text_area :internal_notes,
                placeholder: 'Comment on this proposal here',
                rows: '4',
                class: 'w-full'
  = f.select :status,
             Lesson.statuses.keys.map { |k| [k.titleize, k] },
             class: 'basis-2/5'

  = f.submit class: 'btn btn-primary basis-2/5',
             id: 'proposal_status_form_submit'
