-# locals: (proposals:)

- if proposals.any?
  %table.text-center#proposals
    %thead
      %tr
        %th Lesson
        %th Proponent
        %th Comments
        %th Status
        - if current_user.is?('Admin')
          %th
    %tbody
      - proposals.each do |proposal|
        %tr
          - if current_user.is?('Admin')
            %td
              = link_to proposal.title,
                        proposal_path(proposal)
            = form_with model: proposal do |f|
              %td= proposal.creator.name
              - if current_user.is?('Admin')
                %td= f.text_area :internal_notes
                %td= f.select :status,
                              Lesson.statuses.keys.map { |k| [k.humanize, k] }
                %td= f.submit 'Update', class: 'btn btn-primary'
          - else
            %td
              = link_to proposal.title,
                        edit_lesson_path(proposal)
            %td Proposed by: #{proposal.creator.name}
            %td= proposal.internal_notes
            %td= proposal.status.titleize
