-# locals: (proposals:)

- if proposals.any?
  %h2.font-semibold Proposals
  %table.w-full.text-center#proposals
    %thead
      %tr
        %th
          %p.thead.thead-s.bg-secondary-50
            Lesson
        %th
          %p.thead.bg-secondary-50
            Proponent
        %th
          %p.thead.bg-secondary-50
            Comments
        %th
          %p.thead.thead-e.bg-secondary-50
            Status
    %tbody
      - proposals.each do |proposal|
        %tr
          - if current_user.is?('Admin')
            = render 'proposals/status_form',
                     lesson: proposal.changed_lesson,
                     proposal:,
                     table: true
          - else
            %td
              = link_to proposal.title,
                        edit_lesson_path(proposal)
            %td Proposed by: #{proposal.creator.name}
            %td= proposal.internal_notes
            %td= proposal.status.titleize
