= render 'shared/subtitle', text: "Review Proposal for #{@lesson.title}"

%main.flex.flex-wrap
  = render 'proposals/comparable_lesson',
           lesson: @lesson, type: 'Current'
  = render 'proposals/comparable_lesson',
           lesson: @proposal, type: 'Proposed'

  = render 'proposals/status_form',
           lesson: @lesson,
           proposal: @proposal
