-# locals: (active_type:, date:, supported_types:, teacher_id: )

:ruby
  return if supported_types.size <= 1

- supported_types.each do |type|
  - active = type == active_type

  = link_to teacher_events_path(category:, date:, teacher_id:),
            class: "tab #{active ? 'active' : 'inactive'}" do
    = image_tag "levels/#{type.downcase}.svg", class: 'icon'
    %span= t("categories.#{type.downcase}")
