:ruby
  border = "border-b-2 #{lvl_border_class(@lesson.short_level)}"

= turbo_frame_tag 'lesson' do
  .dialog-content
    %header
      %h1{ class: "type #{border}" }
        = lesson_type_heading(@lesson)
      = lesson_image_tag(@lesson, @lesson.type, class: 'h-full place-self-end rounded')

      %h3.details= lesson_details_heading(@lesson)

    - if @lesson.respond_to?(:activity_guide) && @lesson.activity_guide.attached?
      = render 'teacher_events/guide_section', lesson: @lesson

    - if @resources.any?
      = render 'teacher_events/resources_section',
               resources: @lesson.resources
