-# locals: (managers:, organisations:, school:, teachers:)

= form_with model: [school.organisation, school],
            html: { class: 'form',
                    id: 'school_form' } do |f|
  = render 'shared/form_errors', resource: school

  - if current_user.is?('Admin', 'Sales')
    .form-group
      = f.label :organisation_id
      = f.select :organisation_id,
                 options_for_select(organisations, school.organisation_id),
                 { prompt: 'Select organisation' },
                 required: true

  .form-group
    = f.label :name
    = f.text_field :name
    = f.label :address
    = f.text_field :address
    = f.label :phone_number
    = f.text_field :phone_number
    = f.label :website
    = f.text_field :website
    = f.label :email
    = f.text_field :email
  - if current_user.ku?
    .form-group
      = f.label :ip, 'IP Address'
      = f.text_field :ip

  .flex.flex-col.gap-2{ 'data-controller': 'fields' }
    %h3.font-bold.text-center Managers

    = f.fields_for :managements, school.managements do |m_f|
      = render 'managements/fields',
               collection: managers,
               f: m_f,
               resource: school

    %template{ 'data-fields-target' => 'template' }
      = f.fields_for :managements,
                     school.managements.new,
                     child_index: 'CHILD' do |m_f|
        = render 'managements/fields',
                 collection: managers,
                 f: m_f,
                 resource: school

    %div{ 'data-fields-target' => 'target' }

    %button.btn.btn-secondary{ 'data-action' => 'fields#add' }
      = t('.add_manager')

  .flex.gap-2.flex-wrap{ 'data-controller': 'fields' }
    %h3.w-full.font-bold.text-center Teachers

    = f.fields_for :school_teachers, school.school_teachers do |m_f|
      = render 'school_teachers/fields',
               collection: teachers,
               f: m_f,
               resource: school

    %template{ 'data-fields-target' => 'template' }
      = f.fields_for :school_teachers,
                     school.school_teachers.new,
                     child_index: 'CHILD' do |m_f|
        = render 'school_teachers/fields',
                 collection: teachers,
                 f: m_f,
                 resource: school

    %div{ 'data-fields-target' => 'target' }

    %button.w-full.btn.btn-secondary{ 'data-action' => 'fields#add' }
      = t('.add_teacher')

  = f.submit class: 'btn btn-main'
