-# (schools:)

%table.w-full.text-center
  %thead
    %tr
      %th{ class: 'p-2 bg-color-main/50 rounded-s border-r border-r-white' }
        = t('.name')
      %th{ class: 'p-2 bg-color-main/50 border-r border-r-white' }
        = t('.managers')
      %th{ class: 'p-2 bg-color-main/50 rounded-e' }
        = t('.student_count')
  %tbody
    - schools.each do |s|
      %tr
        %td= link_to s.name, organisation_school_path(s.organisation, s)
        %td= s.school_managers.pluck(:name).to_sentence
        %td= s.students_count
