-# (schools:)

%table.w-full.text-center
  %thead
    %tr
      %th.thead.thead-s.bg-secondary-50= t('.name')
      %th.thead.bg-secondary-50= t('.managers')
      %th.thead.thead-e.bg-secondary-50= t('.student_count')
  %tbody
    - schools.each do |s|
      %tr
        %td= link_to s.name, organisation_school_path(s.organisation, s)
        %td= s.school_managers.pluck(:name).to_sentence
        %td= s.students_count
