= render 'shared/subtitle', text: @school.name

%main.flex.flex-col.items-center.p-3.gap-3
  %h3= t('.student_count', count: @school.students_count)
  %h3
    = @managers.blank? ? t('.unmanaged') : t('.managed_by', managers: @managers)

  .flex.items-center.gap-3
    %h3.font-bold= t('.classes')
    - if current_user.is?('Admin', 'OrgAdmin', 'SchoolManager')
      = link_to t('.create_class'),
                new_school_class_path,
                class: 'btn btn-secondary'
  = render 'school_classes/table', classes: @classes

  = link_to t('.edit'),
            edit_organisation_school_path(@school.organisation_id, @school),
            class: 'btn btn-secondary'
  = link_to t('.add_student'),
            new_student_path(school_id: @school.id),
            class: 'btn btn-secondary'
