-# locals: (course:, lessons:)

= form_with model: course,
            html: { class: 'form',
                    data: { controller: 'fields' } } do |f|
  = render 'shared/form_errors', resource: course

  .form-group
    = f.label :title
    = f.text_field :title, required: true

  .form-group
    = f.label :description
    = f.text_area :description

  .form-group
    = f.label :released
    = f.check_box :released

  - if current_user.is?('Admin')
    - plan_data = { course.id => course.plan_date_data }.to_json

    %h3.fw-bold Lessons

    = f.fields_for :course_lessons, course.course_lessons do |cl_f|
      = render 'course_lessons/fields',
               collection: lessons, f: cl_f,
               plan_data:, resource: course

    %template{ 'data-fields-target' => 'template' }
      = f.fields_for :course_lessons,
                     course.course_lessons.new,
                     child_index: 'CHILD' do |cl_f|
        = render 'course_lessons/fields',
                 collection: lessons, f: cl_f,
                 plan_data:, resource: course

    %div{ 'data-fields-target' => 'target' }

    %button.btn.btn-secondary{ 'data-action' => 'fields#add' }
      Add lesson

  = f.submit class: 'btn btn-main'
