-# locals: (course:, lessons:)

= form_with model: course, html: { class: 'form' } do |f|
  = render 'shared/form_errors', resource: course

  .form-group
    = f.label :title
    = f.text_field :title, required: true

  .form-group
    = f.label :description
    = f.text_area :description, required: true

  .form-group
    = f.label :released
    = f.check_box :released

  = f.submit class: 'btn btn-main'
