-# locals: (course: @course)

= form_with model: course,
            class: 'flex flex-col gap-3' do |f|
  = render 'shared/form_errors', resource: course

  .flex.flex-col.gap-1.items-center
    = f.label :name
    = f.text_field :name,
                   readonly: course.persisted?,
                   disabled: course.persisted?

  .flex.flex-col.gap-1.items-center
    = f.label :description
    = f.text_area :description

  .flex.flex-col.gap-1.items-center
    = f.label :released
    = f.check_box :released

  = f.submit class: 'btn btn-primary'
