-# locals: (course: @course)

= form_with model: course,
            class: 'form' do |f|
  = render 'shared/form_errors', resource: course

  .form-group
    = f.label :name
    = f.text_field :name,
                   readonly: course.persisted?,
                   disabled: course.persisted?

  .form-group
    = f.label :description
    = f.text_area :description

  .form-group
    = f.label :released
    = f.check_box :released

  = f.submit class: 'btn btn-primary'
