.flex.flex-col.justify-center.items-center.text-center
  %h1.flex.justify-center.items-center.gap-3.text-3xl
    = @course.name
    = render 'courses/privacy_badge', released: @course.released
  %h3.text-xl= @course.description
  = link_to 'Edit', edit_course_path(@course)

= render 'files/breadcrumb', course_id: @course.id, path: @path

.flex.justify-center.p-2
  = render 'files/upload_form', course_id: @course.id, path: @path
  .flex-grow
  = render 'files/new_folder', course_id: @course.id, path: @path

= render 'files/file_table', files: @files
