%main.text-center
  %h1.flex.justify-center.items-center.gap-3.text-3xl
    = @course.name
    = render 'courses/privacy_badge', released: @course.released
  %h3.text-xl= @course.description
  = link_to 'Edit', edit_course_path(@course)

  = form_with url: uploads_path do |f|
    = f.hidden_field :path, value: @course.root_path
    = f.file_field :files,
                   multiple: true
    = f.submit 'Upload'

  = render 'files/file_table', files: @files
