.flex.flex-col.justify-center.items-center.text-center
  %h1.flex.justify-center.items-center.gap-3
    = @course.title
    = render 'shared/visibility_badges', released: @course.released
  %h3= @course.description
  .flex.gap-3
    = render 'shared/visibility_toggles', resource: @course
    = link_to 'Edit',
              edit_course_path(@course),
              class: 'btn btn-info'

  %h2 Lessons
  = render 'lessons/new_lesson_dropdown'
  %main.w-full.flex.flex-wrap.justify-around.gap-3
    - @lessons.group_by(&:type).each do |type, lessons|
      = render 'lessons/lesson_dates_table',
               heading: split_on_capitals(type).pluralize,
               lessons:
