.flex.flex-col.justify-center.items-center.text-center
  %h1.flex.justify-center.items-center.gap-3.text-3xl
    = @course.name
    = render 'courses/privacy_badge', released: @course.released
  %h3.text-xl= @course.description
  = link_to 'Edit',
            edit_course_path(@course),
            class: 'btn btn-primary'
  = link_to 'View uploaded files for this course',
            files_path(path: @course.root_path),
            class: 'btn btn-primary'
