:ruby
  expected_counts = {
    'DailyActivity' => 2,
    'EnglishClass' => 4,
    'Exercise' => 1,
    'EveningClass' => 2,
    'KindyPhonic' => 1,
    'PhonicsClass' => 3,
    'SpecialLesson' => 0,
    'StandShowSpeak' => 3
  }

= render 'shared/subtitle', text: "Missing Lessons for #{@org.name}"

%main.flex.flex-col.justify-center.items-center.gap-6
  %h1.text-3xl For the week starting on #{@date}
  %h3.text-xl Subscribed to #{@plans.map(&:name).to_sentence}
  .w-full.flex.justify-between.p-3
    = link_to missing_lessons_path(org: @org, date: @date - 1.week),
              class: 'btn btn-secondary flex items-center' do
      = inline_svg_tag 'back.svg', class: 'fill-white h-12 w-12'
      %p Previous Week
    = link_to missing_lessons_path(org: @org, date: @date + 1.week),
              class: 'btn btn-secondary flex items-center' do
      %p Next Week
      = inline_svg_tag 'next.svg', class: 'fill-white'

  %nav.tab-nav
    - @orgs.each do |org|
      - active = org == @org

      = link_to org.name,
                missing_lessons_path(org:),
                class: "nav-tab #{active ? 'active' : 'inactive'}"

  %table.text-center
    %thead
      %th
      - Lesson::TYPES.each do |type|
        %th{ class: 'thead bg-secondary' }
          = type.titleize
    %tbody
    - Date::DAYNAMES.each do |day|
      %tr.bg-white
        %th{ class: 'thead bg-secondary text-left p-2' }
          = day
        - Lesson::TYPES.each do |type|
          :ruby
            day_lessons = @course_lessons.count do |cl|
              cl.lesson.type == type && cl.day == day.downcase
            end
            missing = expected_counts[type].nil? || expected_counts[type] > day_lessons

          %td{ class: "p-2 #{'bg-danger' if missing}" }
            = day_lessons
