- if request.headers['Turbo-Frame'].present?
  = turbo_frame_tag 'lesson' do
    = render 'teacher_resources/content'
- else
  = render 'shared/subtitle', text: @resource_title

  %main.flex.flex-col.justify-start.items-around.gap-3.p-3
    %nav.tab-nav
      - @allowed_categories.sort.each do |category|
        - active = @lesson_category == category ? 'active' : 'inactive'
        = link_to I18n.t("teacher_resources.index.#{category}"),
                  teacher_resources_path(category: category),
                  class: "nav-tab #{active}"

    = render 'teacher_resources/content'
