-# locals: (parent:)

= form_with model: [parent.organisation, parent],
            html: { class: 'form', id: 'parent_form' } do |f|
  = render 'shared/form_errors', resource: parent

  = render('users/fields', f:)

  .form-group
    = f.label :extra_emails
    = f.text_field :extra_emails,
                   value: parent.extra_emails.join(', ')
    %small= t('.comma_separated')

  = f.submit class: 'btn btn-primary'
