= render 'shared/subtitle', text: "Welcome, #{@user.name}"

%main.flex.flex-col.gap-3.p-3
  %h3= @user.email
  %h3= t('.extra_emails', emails: @user.extra_emails.to_sentence)

  - if @children.any?
    %h3= t('.children')
    - @children.each do |child|
      = link_to child.name,
                student_path(child)

  = render 'student_searches/parent_form',
           parent_id: @user.id,
           schools: @schools

  = link_to 'Edit',
            edit_organisation_parent_path(@user.organisation_id, @user),
            class: 'btn btn-secondary'
