= render 'shared/subtitle', text: t('.monthly_materials')

%main.flex.flex-col.items-center.gap-3.p-3
  = render 'monthly_materials/form',
           orgs: @orgs, organisation: @organisation, month: @month

  %table.w-full.text-center.align-top
    %thead
      %tr
        %th.thead.thead-s.bg-secondary-50= t('.type')
        %th.thead.bg-secondary-50= t('.title')
        %th.thead.bg-secondary-50= t('.date')
        %th.thead.thead-e.bg-secondary-50= t('.material_list')
    - if @lesson_occurrences
      %tbody
        - @lesson_occurrences.each_with_index do |(lesson, _course_lesson, date), i|
          - new_date = !i.zero? && @lesson_occurrences[i - 1][2] != date
          - new_type = i.zero? || @lesson_occurrences[i - 1][0].type != lesson.type
          %tr{ class: new_date ? 'border-t-2 border-secondary' : '' }
            - if new_type
              %td.align-top.p-1= lesson.type.titleize
            - else
              %td.align-top.p-1
            %td.align-top.p-1
              - if current_user.is?('Admin', 'Writer')
                = link_to with_subtype(lesson), lesson_path(lesson)
              - else
                = with_subtype(lesson)
            %td.align-top.p-1= l(date, format: :with_weekday)
            %td.align-top.p-1
              %ul
                = list_from(lesson.materials)
