:ruby
  id = form = "parent-#{@index}"
  if @parent.new_record?
    url = organisation_parent_uploads_update_path(params[:organisation_id])
    method = :post
  else
    url = organisation_parent_uploads_path(params[:organisation_id])
    method = :patch
  end

%tr.error{ data: { controller: 'upload-summary',
                   'upload-summary-status-value': 'Error' },
           id: "parent-row-#{@index}" }
  %td.bg-danger= text_field_tag 'parent_upload[name]', @parent.name, form:
  %td.bg-danger= email_field_tag 'parent_upload[email]', @parent.email, form:
  %td.bg-danger= password_field_tag 'parent_upload[password]', '', form:
  %td.bg-danger= password_field_tag 'parent_upload[password_confirmation]', '', form:
  %td.bg-danger
    = form_with model: @parent, url:, method:,
                html: { class: 'flex items-center justify-center gap-2 p-2',
                        id: } do |f|
      %p Error
      %span.material-symbols-outlined.animate-pulse error

      = hidden_field_tag(:index, @index, form:)
      = f.submit class: 'btn btn-primary'
%tr{ id: "parent-errors-#{@index}" }
  %td.bg-danger{ colspan: 9 }= @errors
