= content_for :head do
  %link{ rel: 'stylesheet',
         href: 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined' }

%main.flex.flex-col.gap-12.overflow-y-auto.p-3
  = render 'shared/subtitle', text: t('.create_parents', org: @organisation.name)

  - if current_user.is?('Admin')
    = render 'organisations/nav',
             orgs: @orgs, active_org: @organisation, path_func: :new_organisation_parent_upload_path

  = render 'parent_uploads/format_explainer'
  = link_to organisation_parent_upload_path(current_user.organisation, 1),
            class: 'btn btn-main w-full flex justify-center gap-2' do
    %p= t('.download_sample')
    = inline_svg_tag 'download_icon.svg',
                     class: 'fill-white'

  %section.flex.flex-col.gap-3.border-2.border-main.rounded.p-3
    %h2= t('.create_parents', org: @organisation.name)
    = form_with scope: :parent_upload,
                html: { class: 'form',
                        data: { controller: 'parent-uploader',
                                action: 'parent-uploader#displayParents',
                                'parent-uploader-org-value': @organisation.id,
                                'parent-uploader-action-value': 'create',
                                'parent-uploader-headers-value': Parent::CSV_HEADERS.to_json },
                        id: 'parent_create_form' } do |f|
      = f.file_field :file,
                     required: true,
                     data: { 'parent-uploader-target': 'fileInput' }
      = f.submit t('.create_parents', org: @organisation.name),
                 class: 'btn btn-main'

  %section.flex.flex-col.gap-3.border-2.border-main.rounded.p-3
    %h2= t('.update_parents', org: @organisation.name)
    = form_with scope: :parent_upload,
                html: { class: 'form',
                        data: { action: 'parent-uploader#displayParents',
                                controller: 'parent-uploader',
                                'parent-uploader-org-value': @organisation.id,
                                'parent-uploader-action-value': 'update' },
                        id: 'parent_update_form' } do |f|
      = f.file_field :file,
                     required: true,
                     data: { 'parent-uploader-target': 'fileInput' }
      = f.submit t('.update_parents', org: @organisation.name),
                 class: 'btn btn-main'
