-# locals: (f:, lesson:)

= content_for :priority_fields do

  .form-group 
    = f.label :cover_image, 'Cover Image'
    %small best with 64x64px pngs but any image works, just check it after creation.
    = f.file_field :cover_image, accept: 'image/png'
    
  .form-group
    = f.label :ele_english_class, 'Ele English Class'
    = f.file_field :ele_english_class

  .form-group
    = f.label :kindy_english_class, 'Kindy English Class'
    = f.file_field :kindy_english_class

  .form-group
    = f.label :activity_guide, 'Guide'
    = f.file_field :activity_guide

  .form-group
    = f.label :scrapbook, 'Scrapbook'
    = f.file_field :scrapbook
