-# locals: (lesson:)

:ruby
  galaxy_english_classes = [
    ['Low', lesson.galaxy_low_english_class],
    ['High', lesson.galaxy_high_english_class],
    ['Questions', lesson.galaxy_questions_english_class]
  ].select { |_label, attachment| attachment.attached? }

  top_materials = [
    ['Guide', lesson.activity_guide],
    ['Scrapbook', lesson.scrapbook]
  ].select { |_label, attachment| attachment.attached? }

  english_classes_attached = lesson.kindy_english_class.attached? ||
                             lesson.ele_english_class.attached? ||
                             galaxy_english_classes.any?

.flex.flex-col.gap-4.text-start
  - if top_materials.any?
    %section.flex.flex-col.gap-2
      %h3.font-bold.text-secondary Materials
      .flex.flex-wrap.gap-2
        - top_materials.each do |title, attachment|
          = render 'lessons/seasonal_activities/attachment_filename',
                   attachment:,
                   label: title

  - if english_classes_attached
    %section.flex.flex-col.gap-2
      %h3.font-bold.text-secondary English Class
      .flex.flex-wrap.gap-2
        - if lesson.kindy_english_class.attached?
          = render 'lessons/seasonal_activities/attachment_filename',
                   attachment: lesson.kindy_english_class,
                   label: 'Kindy'

        - if lesson.ele_english_class.attached?
          = render 'lessons/seasonal_activities/attachment_filename',
                   attachment: lesson.ele_english_class,
                   label: 'Ele'

        - if galaxy_english_classes.any?
          - galaxy_english_classes.each do |label, attachment|
            = render 'lessons/seasonal_activities/attachment_filename',
                     attachment:,
                     label: "Galaxy #{label}"
