-# locals: (lesson:)

:ruby
  galaxy_english_classes = [
    ['Low', lesson.galaxy_low_english_class],
    ['High', lesson.galaxy_high_english_class],
    ['Questions', lesson.galaxy_questions_english_class]
  ].select { |_label, attachment| attachment.attached? }

  top_materials = [
    ['Guide', lesson.activity_guide],
    ['Scrapbook', lesson.scrapbook]
  ].select { |_label, attachment| attachment.attached? }

  english_classes_attached = lesson.kindy_english_class.attached? ||
                             lesson.ele_english_class.attached? ||
                             galaxy_english_classes.any?

.flex.flex-col.gap-6.text-start
  - if top_materials.any?
    %section.grid.md:grid-cols-2.gap-3
      - top_materials.each do |title, attachment|
        .flex.flex-col.gap-2.p-3.border-2.border-secondary-50.rounded.bg-white
          %h3.font-bold.text-secondary= title
          = render 'lessons/seasonal_activities/attachment_link',
                   attachment:,
                   label: attachment.filename.to_s

  - if english_classes_attached
    %section.flex.flex-col.gap-3
      %h3.font-bold.text-xl.text-secondary English Class
      .grid.md:grid-cols-3.gap-3
        - if lesson.kindy_english_class.attached?
          .flex.flex-col.gap-2.p-3.border-2.border-secondary-50.rounded.bg-white
            %h4.font-bold Kindy English
            = render 'lessons/seasonal_activities/attachment_link',
                     attachment: lesson.kindy_english_class,
                     label: lesson.kindy_english_class.filename.to_s

        - if lesson.ele_english_class.attached?
          .flex.flex-col.gap-2.p-3.border-2.border-secondary-50.rounded.bg-white
            %h4.font-bold English
            = render 'lessons/seasonal_activities/attachment_link',
                     attachment: lesson.ele_english_class,
                     label: lesson.ele_english_class.filename.to_s

        - if galaxy_english_classes.any?
          .flex.flex-col.gap-2.p-3.border-2.border-secondary-50.rounded.bg-white
            %h4.font-bold Galaxy
            - galaxy_english_classes.each do |label, attachment|
              = render 'lessons/seasonal_activities/attachment_link',
                       attachment:,
                       label: label
