= render 'shared/subtitle', text: 'Tests'

.w-full.flex.justify-center.p-3
  = link_to 'New Test',
            new_test_path,
            class: 'btn btn-info'

%table.w-full.text-center
  %thead
    %tr
      %th.text-2xl.font-bold Name
      %th.text-2xl.font-bold Level
      %th.text-2xl.font-bold Questions
      %th.text-2xl.font-bold Thresholds
      %th

  %tbody
    - @tests.each do |test|
      %tr
        %td= link_to test.name, test_path(test)
        %td= short_level(test.level)
        %td= render 'tests/questions', questions: test.questions
        %td= render 'tests/thresholds', thresholds: test.thresholds
        %td
          = link_to 'Edit',
                    edit_test_path(test),
                    class: 'btn btn-info'
