- admin = current_user.is?('Admin')

= render 'shared/subtitle', text: 'Tests'

- if admin
  .w-full.flex.justify-center.p-3
    = link_to 'New Test',
              new_test_path,
              class: 'btn btn-secondary'

%table.w-full.text-center
  %tbody
    - @tests.each do |test|
      %tr
        %td.p-3{ colspan: '3' }
          = link_to "#{test.name}, Level: #{test.short_level}",
                    admin ? test_path(test) : test_test_results_path(test),
                    class: 'font-bold text-2xl',
                    id: "test_#{test.id}"
      %tr
        %td= render 'tests/questions', questions: test.questions
        %td
          = render 'tests/thresholds', thresholds: test.thresholds
        - if admin
          %td
            .flex.flex-col.gap-2
              = link_to 'Edit',
                        edit_test_path(test),
                        class: 'btn btn-secondary'
              = link_to t('.view_results'),
                        test_test_results_path(test),
                        class: 'btn btn-secondary'
