= render 'shared/subtitle', text: @test.name

%main.flex.flex-col.items-center.gap-3
  %h3.font-bold= @test.short_level

  .flex.flex-col.items-center.gap-3
    %h3.font-bold Questions:
    = render 'tests/questions', questions: @test.questions

  .flex.flex-col.items-center.gap-3
    %h3.font-bold Thresholds:
    = render 'tests/thresholds', thresholds: @test.thresholds

  .flex.items-center.gap-5
    = link_to t('edit'),
              edit_test_path(@test),
              class: 'btn btn-secondary'
    = link_to t('.view_results'),
              test_test_results_path(@test),
              class: 'btn btn-secondary'
