= render 'shared/subtitle', text: @test.name

%main.flex.flex-col.items-center.gap-3
  %h3.font-bold= @test.level.titleize

  .flex.flex-col.items-center.gap-3
    %h3.font-bold Questions:
    = render 'tests/questions', questions: @test.questions

  .flex.flex-col.items-center.gap-3
    %h3.font-bold Thresholds:
    = render 'tests/thresholds', thresholds: @test.thresholds

  = link_to 'Edit',
            edit_test_path(@test),
            class: 'btn btn-info'
