-# locals: (collection:, f:, resource:)

.fields-wrapper.flex.gap-3{ 'data-new-record' => f.object.new_record?.to_s }
  - if resource.instance_of?(Student)
    = f.hidden_field :student_id,
                     value: resource.id

    .flex.items-center.gap-1
      = f.label :class_id, t('.class')
      = f.select :class_id,
                 collection,
                 prompt: t('.select_class'),
                 required: true

  - elsif resource.instance_of?(SchoolClass)
    = f.hidden_field :class_id,
                     value: resource.id

    .flex.items-center.gap-1
      = f.label :student_id, t('.student')
      = f.select :student_id,
                 collection,
                 prompt: t('.select_manager'),
                 required: true

  - if f.object.new_record?
    %button.btn.btn-danger{ 'data-action' => 'fields#remove',
                            type: 'button' }
      = t('.remove')
  - else
    .flex.items-center.gap-1
      = f.check_box :_destroy
      = f.label :_destroy, t('.destroy')
