-# locals: (date:, kind:, level:, teacher_id:, type:, subtype: nil)

- if kind == :lesson
  :ruby
    src = teacher_lesson_path(0, date:, level:, type:, teacher_id:, subtype:)
    title = teacher_lesson_card_title(type, level:, subtype:)
    icon = type == 'EveningClass' && subtype.present? ? subtype : type.underscore

  %button{ class: 'card flex flex-col items-center p-2 gap-2',
           data: { action: 'dialog#open',
                   controller: 'dialog',
                   'dialog-dialog-value': 'lesson-resources',
                   'dialog-frame-value': 'lesson',
                   'dialog-src-value': src },
           type: 'button' }
    = image_tag "lesson_types/#{icon}.svg",
                class: 'h-full'
    %hr{ class: 'w-4/5 border border-secondary rounded -mb-1' }
    %h3.text-center= title

- else
  :ruby
    category = if type == 'snack'
                 'snack'
               elsif type == 'book_activity'
                 'ku_book_activity'
               elsif type == 'lesson_review'
                 'ku_lesson_review'
               elsif %w[
      homework_check break_&_quiz four_skills project conversation_time
    ].include?(type)
                 'evening_class'
               else
                 type.underscore
               end
    icon = type.underscore

    # only show the card if there are resources for this category
    scope = policy_scope(CategoryResource)
    resource_scope = scope.public_send(category)
    has_resources = resource_scope.exists?
    src = teacher_resources_path(category:, card: type, level:)

  - if has_resources
    %button{ class: 'card flex flex-col items-center p-2 gap-2',
             data: { action: 'dialog#open',
                     controller: 'dialog',
                     'dialog-dialog-value': 'lesson-resources',
                     'dialog-frame-value': 'lesson',
                     'dialog-src-value': src },
             type: 'button' }
      = image_tag "lesson_types/#{icon}.svg",
                  class: 'h-full'
      %hr{ class: 'w-4/5 border border-secondary rounded -mb-1' }
      %h3.text-center= teacher_lesson_card_title(type, level:)
