-# locals: (lesson_links:)
%h3.font-bold.text-left Links

%section.resource-section

  .flex.flex-wrap.justify-start.items-center.gap-3.mt-2
    - lesson_links.each do |link|
      - title = link.title.presence || (URI.parse(link.url).host rescue 'Link')
      - preview_url = link.video? ? (link.embed_url.presence || link.url) : link.url

      - if link.video?
        %a.btn-outline.w-full.flex.items-center{
          href: "#",
          data: {
            controller: "dialog",
            action: "click->dialog#open",
            "dialog-dialog-value" => "lesson-video",
            "dialog-frame-value"  => "lesson-video-frame",
            "dialog-src-value"    => preview_url
          }
        }
          %span{ class: "basis-5/6 truncate" }= title
          = inline_svg_tag 'download_icon.svg', class: 'fill-secondary basis-1/6'

      - else
        = link_to preview_url, target: "_blank", rel: "noopener",
                  class: "btn-outline w-full flex items-center" do
          %span{ class: "basis-5/6 truncate" }= title
          = inline_svg_tag 'download_icon.svg', class: 'fill-secondary basis-1/6'
