:ruby
  sorted_resources = @lesson.resources.sort_by { |r| r.blob.filename }

= turbo_frame_tag 'lesson' do
  = render 'teacher_lessons/tabs',
           lessons: @type_lessons, active_lesson: @lesson, level: @level,
           teacher_id: @teacher.id, type: @type, date: @date

  .content
    %header
      %h1.type.border-secondary
        = @lesson.type.titleize
      %h1.level.border-secondary
        = @lesson.subtype.titleize
      = image_tag type_icon_path(@lesson)
      %h3.details= @lesson.title

    - if @lesson.guide.attached?
      = render 'teacher_lessons/guide_section',
               lesson: @lesson

    - if @lesson.resources.any?
      = render 'teacher_lessons/resources_section',
               resources: sorted_resources
