:ruby
  border = "border-b-2 #{lvl_border(@lesson.short_level)}"
  text = lvl_text(@lesson.short_level)
  sorted_resources = @lesson.resources.sort_by { |r| r.blob.filename }

= turbo_frame_tag 'lesson' do
  = render 'teacher_lessons/tabs',
           lessons: @type_lessons, active_lesson: @lesson, level: @level,
           teacher_id: @teacher.id, type: @type, date: @date

  .content
    %header
      %h1{ class: "type #{border}" }
        = @lesson.type.titleize
      %h1{ class: "level #{text} #{border}" }
        = @lesson.short_level.upcase
      = image_tag type_icon_path(@lesson),
                  class: 'place-self-center row-span-2'
      %h3.details= @lesson.topic

    - if @lesson.guide.attached?
      = render 'teacher_lessons/guide_section',
               lesson: @lesson

    - if sorted_resources.any?
      = render 'teacher_lessons/resources_section',
               resources: sorted_resources
