:ruby
  border = "border-b-2 #{lvl_border(@lesson.short_level)}"
  text = lvl_text(@lesson.short_level)
  sorted_resources = @lesson.resources.sort_by { |r| r.blob.filename }

= turbo_frame_tag 'lesson' do
  .content
    %header
      %h1{ class: "type #{border}" }
        = @lesson.type.titleize
      %h1{ class: "level #{text} #{border}" }
        = @lesson.short_level.upcase
      = image_tag type_icon_path(@lesson),
                  class: 'place-self-center row-span-2'
      %h3.details= @lesson.goal

    - if sorted_resources.any?
      = render 'teacher_lessons/resources_section',
               resources: sorted_resources
