= turbo_stream.replace 'subtitle' do
  = render partial: 'teachers/subtitle',
           locals: { date: @date, level: @level, teacher: @teacher }

= turbo_stream.replace 'teacher-lessons' do
  %main.p-6.gap-3#teacher-lessons
    %nav.tab-nav
      - @valid_levels.each do |level|
        = link_to level.titleize,
                  teacher_lessons_path(date: @date, level:,
                                       teacher_id: @teacher.id),
                  class: "nav-tab #{@level == level ? 'active' : 'inactive'}",
                  data: { turbo_stream: true }

    %section.grid.grid-cols-2.md:grid-cols-5.gap-3.py-6
      - lesson_type_order(@level).each do |type|
        - next if Lesson::TYPES.include?(type) && @types.exclude?(type)

        = render partial: 'teacher_lessons/card',
                 locals: { date: @date, level: @level,
                           teacher_id: @teacher.id, type: }
