- evening = %w[keep_up specialist].include?(@level)

= turbo_stream.replace 'subtitle' do
  = render partial: 'teachers/subtitle',
           locals: { date: @date, level: @level, teacher: @teacher }

= turbo_stream.replace 'teacher-lessons' do
  %main.p-6.gap-3#teacher-lessons
    %nav.w-full.flex.flex-col.md:flex-row.justify-center.gap-2.md:border-b-2.md:border-secondary
      - @valid_levels.each do |level|
        = link_to level.titleize,
                  teacher_lessons_path(date: @date, level:,
                                       teacher_id: @teacher.id),
                  class: "lvl_nav #{@level == level ? 'active' : 'inactive'}",
                  data: { turbo_stream: true }

    %section.grid.grid-cols-2.md:grid-cols-5.gap-3.py-6
      - unless evening
        - %w[arrival brush_up snack].each do |type|
          = render partial: 'teacher_lessons/card',
                   locals: { date: @date, level: @level,
                             teacher_id: @teacher.id, type: }

      - @types.each do |type|
        = render partial: 'teacher_lessons/card',
                 locals: { date: @date, level: @level,
                           teacher_id: @teacher.id, type: }
        - next if type != 'DailyActivity'

        = render partial: 'teacher_lessons/card',
                 locals: { date: @date, level: @level,
                           teacher_id: @teacher.id, type: 'daily_gathering' }

      - unless evening
        = render partial: 'teacher_lessons/card',
                 locals: { date: @date, level: @level,
                           teacher_id: @teacher.id, type: 'bus_time' }
