:ruby
  border = "border-b-2 #{lvl_border_class(@lesson.short_level)}"
  text = lvl_text_class(@lesson.short_level)

= turbo_frame_tag 'lesson' do
  = render 'teacher_lessons/tabs',
           lessons: @type_lessons, active_lesson: @lesson, level: @level,
           teacher_id: @teacher.id, type: @type, date: @date

  .dialog-content
    %header
      %h1{ class: "type #{border}" }
        = lesson_type_heading(@lesson)
      %h1{ class: "level #{text} #{border}" }
        = lesson_level_heading(@lesson)
      = image_tag type_icon_path(@lesson), class: 'h-full place-self-end'
      %h3.details= lesson_details_heading(@lesson)

    - if @lesson.guide.attached?
      = render 'teacher_lessons/guide_section',
               lesson: @lesson

    - if @resources.any?
      = render 'teacher_lessons/resources_section',
               resources: @resources
