-# locals: (user:, orgs:)

:ruby
  path = if user.new_record?
    organisation_sales_path(organisation_id: user.organisation_id)
  else
    organisation_sale_path(@user)
  end

= form_with model: user,
            url: path,
            html: { class: 'form',
                    id: 'sales_form' } do |f|
  = render 'shared/form_errors', resource: @user

  = render 'users/fields', f:, orgs:

  .flex.gap-3
    = f.submit class: 'btn btn-main',
               id: 'submit_sales'
    - if policy(user).destroy? && !user.new_record?
      = link_to 'Delete',
                organisation_sale_path(user),
                data: { turbo_method: :delete,
                        turbo_confirm: 'Are you sure you want to delete this sales user?' },
                class: 'btn btn-danger'
