= link_to 'Courses', courses_path
= link_to 'Lessons', lessons_path
= link_to 'Organisations', organisations_path
= link_to 'Schools',
          organisation_schools_path(current_user.organisation_id)
= link_to 'Support', support_requests_path
= link_to 'Users', users_path
