-# locals: (f:)

= f.fields_for :input_attributes, InputAttributes.new do |ia_f|
  .form-group
    = ia_f.label :placeholder, t('.placeholder')
    = ia_f.text_field :placeholder

  - unless f.object.is_a?(FormTemplateCheckBox)
    .form-group
      = ia_f.label :required, t('.required')
      = ia_f.check_box :required
