-# locals: (current_fields:, f:)

- new_record = current_fields.none?(f.object)

.fields-wrapper.flex.flex-wrap.items-center.gap-3{ data: { 'new-record' => new_record.to_s } }
  = f.hidden_field :input_type, value: 'text_area'

  .form-group
    = f.label :name, t('.name')
    = f.text_field :name

  .form-group
    = f.label :position, t('.position')
    = f.number_field :position

  .form-group
    = f.label :explanation, t('.explanation')
    = f.text_field :explanation

  = render 'form_templates/input_attributes', f:

  - if new_record
    %button.btn.btn-danger{ 'data-action' => 'fields#remove',
                            type: 'button' }
      = t('.remove')
  - else
    .flex.items-center.gap-1
      = f.check_box :_destroy
      = f.label :_destroy, t('.destroy')
