-# locals: (parent_id: nil, schools: [])

- field_classes = 'basis-1/3 flex justify-center items-center gap-3'

= turbo_frame_tag 'student_search_frame',
                  target: (parent_id ? '' : 'student_table') do
  = form_with url: student_searches_path,
              scope: :search,
              html: { class: 'flex flex-wrap justify-center items-center gap-3',
                      id: 'student_search' } do |f|
    - if parent_id
      %h3.w-full.text-center= t('.find_child')
      = f.hidden_field :parent_id, value: parent_id

    %div{ class: field_classes }
      = f.label :student_id, t('.student_id')
      = f.text_field :student_id,
                     required: parent_id

    %div{ class: field_classes }
      = f.label :level, t('.child_level')
      = f.select :level,
                 Student.levels.keys.map { |k| [k.titleize, k] },
                 { prompt: t('.select_child_level'),
                   required: parent_id }

    - unless parent_id
      %div{ class: field_classes }
        = f.label :id
        = f.text_field :id

      %div{ class: field_classes }
        = f.label :school_id, t('.school')
        = f.select :school_id,
                   schools,
                   { prompt: t('.select_school') }

    = f.submit t('.search'), class: "btn btn-primary #{'w-full' unless parent_id}"
