-# locals: (failed: false, parent_id:)

- field_classes = 'basis-1/3 flex justify-center items-center gap-3'

= turbo_frame_tag 'student_search_frame' do
  = form_with url: student_searches_path,
              scope: :search,
              html: { class: 'flex flex-wrap justify-center items-center gap-3',
                      id: 'student_search' } do |f|
    %h3.w-full.text-center= t('.find_child')
    = f.hidden_field :parent_id, value: parent_id

    %div{ class: field_classes }
      = f.label :student_id, t('.student_id')
      = f.text_field :student_id,
                     required: true

    %div{ class: field_classes }
      = f.label :level, t('.child_level')
      = f.select :level,
                 Student.levels.keys.map { |k| [k.titleize, k] },
                 { prompt: t('.select_child_level'),
                   required: true }

    = f.submit t('.search'), class: 'btn btn-primary'

    - if failed
      %p.w-full.bg-red-700.text-white.text-center.p-2.rounded-lg
        = t('.student_not_found')
