-# locals: (failed: false, parent_id:, schools:)

- field_classes = 'basis-2/5 flex-grow flex justify-center items-center gap-1'

= turbo_frame_tag 'student_search_frame' do
  = form_with url: student_searches_path,
              scope: :search,
              html: { class: 'w-full flex flex-wrap justify-between items-center gap-1',
                      id: 'student_search', method: :get } do |f|
    %h3.w-full.text-center= t('.find_child')
    = f.hidden_field :parent_id, value: parent_id

    %div{ class: field_classes }
      = f.label :student_id, t('.student_id')
      = f.text_field :student_id,
                     required: true

    %div{ class: field_classes }
      = f.label :level, t('.child_level')
      = f.select :level,
                 Student.levels.keys.map { |k| [k.titleize, k] },
                 { prompt: t('.select_child_level'),
                   required: true }

    %div{ class: field_classes }
      = f.label :school_id, t('.school')
      = f.select :school_id,
                 schools,
                 { prompt: t('.select_school'),
                   required: true }

    %div{ class: field_classes }
      = f.label :birthday, t('.birthday')
      = f.date_field :birthday, required: true

    = f.submit t('.search'), class: 'btn btn-primary w-full'

    - if failed
      %p.w-full.bg-danger.text-white.text-center.p-2.rounded
        = t('.student_not_found')
