-# locals: (parent_id:, results:)

- result = results.first if parent_id

= turbo_frame_tag 'student_search_frame' do
  .flex.flex-col.gap-3
    = link_to t('.back'),
              student_searches_path(parent_id:),
              class: 'btn btn-secondary self-start'

    = render 'students/table', students: results

    - if result.parent_id.nil?
      = form_with url: student_search_path(id: result.id),
                  method: :put,
                  scope: :student do |f|
        = f.hidden_field :student_id, value: result.student_id
        = f.hidden_field :parent_id, value: parent_id
        = f.hidden_field :level, value: result.level
        = f.submit t('.claim_child', child: redact(result)),
                   class: 'btn btn-primary',
                   data: { 'turbo-frame' => '_top' }
    - elsif result.parent_id
      %p.w-full.bg-danger.text-white.text-center.p-2.rounded
        = t('.child_claimed', child: redact(result), parent: result.parent.email)
