!!! 5
%html{ class: org_theme(current_user.presence),
       data: { controller: 'theme', 'theme-target': 'html' } }
  %head
    %title Vision UP Hub
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
    %meta{ property: 'og:image',
           content: "#{request.base_url}#{image_path('opengraph.svg')}" }
    %link{ rel: 'preconnect', href: 'https://fonts.googleapis.com' }
    %link{ rel: 'preconnect', href: 'https://fonts.gstatic.com',
           crossorigin: true }
    %link{ href: 'https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;800&display=swap',
           rel: 'stylesheet' }
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag image_path('favicon.svg')
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application',
                             'data-turbo-track': 'reload',
                             type: 'module'
    = yield :head
  %body.text-secondary
    %turbo_frame#flash
      = render 'shared/flash'
    = render 'shared/nav'
    = yield
