!!! 5
%html{ class: org_theme(current_user.presence),
       data: { controller: 'theme', 'theme-target': 'html' } }
  %head
    %title Kids UP Hub
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
    %meta{ property: 'og:image',
           content: "#{request.base_url}#{image_path('opengraph.svg')}" }
    %meta{ name: 'robots', content: 'noindex, nofollow, disallow' }
    %meta{ name: 'googlebot', content: 'noindex' }
    %meta{ property: 'og:title', content: 'Kids Up Hub' }
    %meta{ property: 'og:description',
           content: 'Kids UP Learning Management System' }
    %link{ rel: 'preconnect', href: 'https://fonts.googleapis.com' }
    %link{ rel: 'preconnect', href: 'https://fonts.gstatic.com',
           crossorigin: true }
    %link{ href: 'https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500&display=swap',
           rel: 'stylesheet' }
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag asset_path(asset_for_domain(:favicon))
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application',
                             'data-turbo-track': 'reload',
                             type: 'module'
    = yield :head
  %body{ class: body_classes }
    %turbo_frame#flash
      = render 'shared/flash'
    = render 'shared/nav' if user_signed_in?
    = yield :subtitle
    = yield
