-# locals: (f:, collection:, resource:)

.fields-wrapper.flex.items-center.gap-3{ 'data-new-record' => f.object.new_record?.to_s }
  - if resource.instance_of?(SchoolManager)
    = f.hidden_field :school_manager_id,
                     value: resource.id

    .form-group
      = f.label :school_id
      = f.select :school_id,
                 collection.map { |s| [t("school_names.#{s[0]}"), s[1]] },
                 prompt: t('.select_school'),
                 required: true,
                 class: 'test'

  - elsif resource.instance_of?(School)
    = f.hidden_field :school_id,
                     value: resource.id

    .form-group
      = f.select :school_manager_id,
                 collection,
                 prompt: t('.select_manager'),
                 required: true

  - if f.object.new_record?
    %button.btn.btn-danger{ 'data-action' => 'fields#remove',
                            type: 'button' }
      = t('.remove')
  - else
    .flex.items-center.gap-1
      = f.check_box :_destroy
      = f.label :_destroy, t('.destroy')
